<div class="row" id="errors"></div>
<section class="g_inputs_phold" style="float: left;width: 48%; margin: 30px 0px">

  <div class="g_inputitem">
    <%= f.select :parent_id, Category.where(:parent_id => nil).all.map { |cat| [cat.name, cat.id] }, {include_blank: 'Select Parent Category'} %>
  </div>
  <div class="g_inputitem">
    <%= f.text_field :name, :placeholder => "SUB CATEGORY NAME" %>
  </div>

</section>

<!--g_inputs_phold ends-->
<div class="g_popup_head_bot"></div>
<!--g_popup_head ends-->
<div class="g_popup_bot_btns">
  <div class="pl_btn1" id="cancel-btn">
    <a href="javascript:void(0);">CANCEL</a>
  </div>
  <!--pl_btn1 ends-->
  <div class="p2_btn1" id="save-btn">
    <a href="javascript:void(0);">SAVE CHANGES</a>
  </div>
  <!--p2_btn1 ends-->
</div>

