<% if controller_name == "jobs" %>
    <footer>
      <div class="footer">
        <div class="f-warrper">

          <div class="boxf2">
            <div class="copy-right"><img src="/assets/back-to-top.png" alt="" style="cursor: pointer" onclick="move_up()">2015 Celebvidy. All Rights Reserverd

            </div>
          </div>
          <div class="boxf1"><img src="/assets/footer-logo.png" alt=""></div>
        </div>
        <!--f-warrper end-->
      </div>
    </footer>
<% elsif controller_name == "celeberties" || controller_name == "home" %>
    <footer>
      <div class="footer_1">
        <div class="warrper">
          <div class="footer_1_cont">
            <div class="f_logo"><a><img src="/assets/footer_logo.png"></a></div>
            <div class="footer_1_btn">
              <a href="/celebrities">Get Started</a> <!-- onclick="directory()" -->

              <p>Sign-up is free.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_2">
        <div class="warrper">
          <div class="news_ltr">
            <h4>Stay up to date with Celebvidy news:</h4>

            <div class="footer-form-con">
              <!--<form>-->
              <!--<input type="text" placeholder="Enter Your Email Address">-->
              <!--<input type="submit" value="">-->
              <!--</form>-->
              <form action="https://celebvidy.us3.list-manage.com/subscribe/post?u=41093ee7e6d8256b2d5a0a25c&amp;id=e8fb51755d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" _lpchecked="1">
                <div class="">
                  <input type="email" value="" name="EMAIL" class="email input" id="mce-EMAIL" placeholder="Enter your email" required="">
                  <input type="hidden" name="b_41093ee7e6d8256b2d5a0a25c_e8fb51755d" value="">
                  <input type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="btn-search">
                </div>
              </form>
            </div>
            <!--footer-form-con end-->
          </div>
          <div class="socials">
            <label>Share:</label>
            <ul>
              <li>
                <a target="_blank" href="https://twitter.com/intent/tweet?text=Celebvidy%20-%20Celebrity%20shout-out%20videos,%20on%20demand.&url=http://stage.celebvidy.com&via=celebvidy"><img src="/assets/twitter.png"></a>
              </li>
              <li>
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://stage.celebvidy.com"><img src="/assets/facebook.png"></a>
              </li>
              <li>
                <a target="_blank" href="https://plus.google.com/share?url=http://stage.celebvidy.com"><img src="/assets/google_plus.png"></a>
              </li>
              <li>
                <a target="_blank" href="https://pinterest.com/pin/create/button/?description=Celebvidy%20-%20Celebrity%20shout-out%20videos,%20on%20demand&url=http://stage.celebvidy.com&media="><img src="/assets/p.png"></a>
              </li>
              <li>
                <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=http://stage.celebvidy.com&title=Celebvidy-On%20demand%20Celebrity%20Videos&summary=Celebvidy%20-%20Celebrity%20shout-out%20videos,%20on%20demand&source=http://stage.celebvidy.com"><img src="/assets/in.png"></a>
              </li>
              <li>
                <a target="_blank" href="http://www.stumbleupon.com/submit?url=http://stage.celebvidy.com&title=Celebvidy%20-%20On%20demand%20Celebrity%20Videos"><img src="/assets/socl.png"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer_3">
        <div class="warrper">
          <div class="footer_box width_box_1">
            <label>Home</label>
            <ul>
              <!--<li><a href="#" onclick="get_static('about')">About</a></li>-->
              <li><a href="/our-team" target="_blank">Our Team</a></li>
              <!--<li><a href="#" onclick="get_static('our_team')">Our Team</a></li>-->
            </ul>
          </div>
          <div class="footer_box width_box_2">
            <label>Celebrities</label>
            <ul>
              <li><a href="/celebrities" target="_blank">Search</a></li> <!-- onclick="search_celeberty()" -->
            </ul>
          </div>
          <div class="footer_box width_box_3">
            <label>How It Works</label>
            <ul>
              <li><a href="/fqs" target="_blank">FAQs</a></li>
              <!--<li><a href="#" onclick="get_static('faqs')">FAQs</a></li>-->
              <!--<li><a href="#" onclick="get_static('faqs')">FAQs</a></li>-->
            </ul>
          </div>
          <div class="footer_box width_box_4">
            <label>Support</label>
            <ul>
              <li><a href="/contact-us" target="_blank">Contact us</a></li>
              <li><a href="/terms-of-use" target="_blank">Terms of Use</a></li>
              <li><a href="/privacy-policy" target="_blank">Privacy Policy </a></li>
              <!--<li><a href="#" onclick="get_static('contact_us')">Contact</a></li>-->
              <!--<li><a href="#" onclick="get_static('terms')">Terms of Use</a></li>-->
              <!--<li><a href="#" onclick="get_static('privacy_policy')">Privacy Policy </a></li>-->
            </ul>
          </div>
        </div>
      </div>
      <div class="footer_4">
        <div class="warrper">
          <div class="follow_links">
            <ul>
              <li>
                <a target="_blank" href="https://www.youtube.com/channel/UC9xpEyOnJp5VBH9p3jWh33g"><img src="/assets/black_play.png"></a>
              </li>
              <li>
                <a target="_blank" href="https://twitter.com/intent/tweet?text=Celebvidy%20-%20Celebrity%20shout-out%20videos,%20on%20demand.&url=http://stage.celebvidy.com&via=celebvidy"><img src="/assets/black_twitter.png"></a>
              </li>
              <li>
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://stage.celebvidy.com"><img src="/assets/black_f.png"></a>
              </li>
              <li>
                <a target="_blank" href="mailto:?subject=I wanted you to see this site&body=Celebrity shout-out videos on demand. http://stage.celebvidy.com"><img src="/assets/black_mail.png"></a>
              </li>
            </ul>
          </div>
          <div class="copyright">2015 Celebvidy. All Rights Reserverd.</div>
          <!--&copy;-->
        </div>
      </div>
    </footer>
<% end %>
<script>
    //    function directory() {
    //        $.ajax({
    //            url: '/celeberties/index',
    //            success: function (data) {
    //                $("#container").html(data)
    //            }
    //        });
    //    }
         function move_up(){
             $("html, body").animate({ scrollTop: 0 }, "slow");
         }
</script>