<!--<div>-->
<!--<a href="">Home</a>-->
<!--<a href="javascript:;" onclick="directory()">Directory</a>-->
<!--<a href="javascript:;" onclick="search_celeberty()">Search</a>-->
<!--<a href="">FAQ</a>-->
<!--<a href="">Cart</a>-->
<!--<a href="/users/sign_out">Sign Out</a>-->
<!--</div>-->


      <!--dir-header end-->
      <div class="warrper01">
        <div class="nav_header">
          <!--<div class="nav_head_logo"><a href="/"><img src="/assets/nav2_logo.png"></a></div>-->
          <div class="nav_head_rightbox">
            <div class="nav01">
              <ul>
               <% if current_user %>
                    <li><a href="/profiles/new">Create Profile</a></li>

                    <li><a href="#">Search</a></li> <!-- onclick="search_celeberty()" -->
                <li><a href="/my-account" >My Profile</a></li>
                    <li><a href="/users/sign_out">Sign Out</a></li>

              <% end %>
              </ul>
            </div>
            <div class="nav02">
              <ul>

                <!--<li><a href="/celebrities">Celebrities</a></li>  &lt;!&ndash;onclick="directory()"&ndash;&gt;-->
                <!--<li><a href="/how-it-works" >How it Works</a></li>-->
                <!--onclick='get_static("how_it_work")'-->
                <% if current_user.present? %>
                    <!--<li><a href="#">Login as <%#= current_user.email %></a></li>-->
                    <!--<li><a href="/profiles/new">Create Profile</a></li>-->

                    <!--<li><a href="/users/sign_out">Sign Out</a></li>-->
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </header>


<script>

    $(document).ready(function () {
        $(".menu-icon").click(function () {
            $(this).next('ul').show();
            //$('').toggle("slide", { direction: "up" }, 1000);
        });

//        $(".Mcls").click(function () {
//
//    });

    });

    function cart() {
        $(".background_shadow").hide();
        $("#menuZ").hide();
        $.ajax({
            url: '/celeberties/cart',
            success: function (data) {
                if (data.success) {
                    window.location.href = data.message;
                    $(".background_shadow").hide();
                    $("#menuZ").hide();
                }
                else {
                    $("#container").html(data)
                    $("#head_div").addClass('bg-image');
                    $(".background_shadow").hide();
                }
            }
        });
    }

</script>