<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <ul data-slide-speed="200" data-auto-scroll="true" class="page-sidebar-menu">
      <li class="sidebar-toggler-wrapper">
        <div class="sidebar-toggler">
        </div>
      </li>
      <li class="start ">
        <a href="/admin/home/index">
          <i class="icon-home"></i>
          <span class="title">Dashboard</span>
        </a>
      </li>

      <li>
        <a href="javascript:;">
          <i class="icon-user"></i>
          <span class="title">Users</span>
          <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="/admin/users/all-users">
              <i class="icon-layers"></i>
              All Users</a>
          </li>
          <li>
            <a href="/admin/users/new">
            <!--<a href="/admin/users/new">-->
              <i class="icon-basket"></i>
              Create New User</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="javascript:;">
          <i class="icon-wallet"></i>
          <span class="title">Profiles</span>
          <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="#">
              <i class="icon-home"></i>
              All Profiles</a>
          </li>
          <li>
            <a href="#">
              <i class="icon-basket"></i>
              Accepted Profiles</a>
          </li>
            <li>
              <a href="#">
                <i class="icon-home"></i>
                Rejected Profiles</a>
            </li>

        </ul>
      </li>

      <!--<li>-->
        <!--<a href="javascript:;">-->
          <!--<i class="icon-wallet"></i>-->
          <!--<span class="title">Jobs</span>-->
          <!--<span class="arrow "></span>-->
        <!--</a>-->
        <!--<ul class="sub-menu">-->
          <!--<li>-->
            <!--<a href="/admin/jobs/index">-->
              <!--<i class="icon-home"></i>-->
              <!--Pending & Completed</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="/admin/jobs/celebrity-completed-jobs">-->
              <!--<i class="icon-home"></i>-->
              <!--Completed from Celebrity</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="/admin/jobs/deadline_missed_jobs">-->
              <!--<i class="icon-home"></i>-->
              <!--Deadline missed jobs</a>-->
          <!--</li>-->
          <!--&lt;!&ndash;<li>&ndash;&gt;-->
          <!--&lt;!&ndash;<a href="/admin/jobs/new">&ndash;&gt;-->
          <!--&lt;!&ndash;<i class="icon-basket"></i>&ndash;&gt;-->
          <!--&lt;!&ndash;Create New Job</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--</ul>-->
      <!--</li>-->

      <!--<li>-->
        <!--<a href="javascript:;">-->
          <!--<i class="icon-folder"></i>-->
          <!--<span class="title">Agent Codes</span>-->
          <!--<span class="arrow "></span>-->
        <!--</a>-->
        <!--<ul class="sub-menu">-->
          <!--<li>-->
            <!--<a href="/admin/codes/new">-->
              <!--<i class="icon-basket"></i>-->
              <!--Generate Codes</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="/admin/codes">-->
              <!--<i class="icon-home"></i>-->
              <!--All Codes</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="/admin/codes/con-index">-->
              <!--<i class="icon-home"></i>-->
              <!--Consumed Codes</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->

      <!--<li>-->
        <!--<a href="javascript:;">-->
          <!--<i class="icon-folder"></i>-->
          <!--<span class="title">Event Types</span>-->
          <!--<span class="arrow "></span>-->
        <!--</a>-->
        <!--<ul class="sub-menu">-->
          <!--<li>-->
            <!--<a href="/admin/event_types/index">-->
              <!--<i class="icon-home"></i>-->
              <!--All Event Types</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="/admin/event_types/new">-->
              <!--<i class="icon-basket"></i>-->
              <!--Create Event Type</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->

      <!--<li>-->
        <!--<a href="javascript:;">-->
          <!--<i class="icon-folder"></i>-->
          <!--<span class="title">Payment By Check</span>-->
          <!--<span class="arrow "></span>-->
        <!--</a>-->
        <!--<ul class="sub-menu">-->
          <!--<li>-->
            <!--<a href="/admin/payment_addresses/index">-->
              <!--<i class="icon-home"></i>-->
              <!--Address Payment By Check</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->

      <!--<li>-->
        <!--<a href="javascript:;">-->
          <!--<i class="icon-user"></i>-->
          <!--<span class="title">Charity Accounts</span>-->
          <!--<span class="arrow "></span>-->
        <!--</a>-->
        <!--<ul class="sub-menu">-->
          <!--<li>-->
            <!--<a href="/admin/charity_accounts">-->
              <!--<i class="icon-home"></i>-->
              <!--All Charity Accounts</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="/admin/charity_accounts/new">-->
              <!--<i class="icon-basket"></i>-->
              <!--Create Charity Account</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->

      <li>
        <a href="javascript:;">
          <i class="icon-briefcase"></i>
          <span class="title">Contact Requests</span>
          <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="/admin/contact_mailer_information">
              <i class="icon-home"></i>
              Contact Emails</a>
          </li>
        </ul>
      </li>

      <!--<li>-->
        <!--<a href="javascript:;">-->
          <!--<i class="icon-user"></i>-->
          <!--<span class="title">Celebrity Payments</span>-->
          <!--<span class="arrow "></span>-->
        <!--</a>-->
        <!--<ul class="sub-menu">-->
          <!--<li>-->
            <!--<a href="/admin/charity_accounts/payment-index">-->
              <!--<i class="icon-home"></i>-->
              <!--All Charity Payments</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="/admin/charity_accounts/new-payment">-->
              <!--<i class="icon-basket"></i>-->
              <!--Create Charity Payment</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->

      <!--<li class="start ">-->
      <!--<a href="/admin/users/download_csv">-->
      <!--<i class="icon-star"></i>-->
      <!--<span class="title">Download CSV</span>-->
      <!--</a>-->
      <!--</li>-->

    </ul>
    <!-- END SIDEBAR MENU -->
  </div>
</div>
