<section id="cSlider" class="w">
  <div class="w">
    <div class="warrper">
      <!--<div class="CelbSlider">-->
        <!--<h2>ON -DEMAND, <br> <span>Personalized</span> Video Shout Outs.</h2>-->

        <!--<h1>WELCOME TO CELEBVIDY</h1>-->

        <!--<aside>-->
          <!--<p>Celebrities on your screen for you and your friends.</p>-->

          <!--<div class="bg-btn">-->
            <!--<a href="/search-celebrities" class="btn-primary sign-up">Get Started</a> &lt;!&ndash; onclick="directory()"&ndash;&gt;-->
          <!--</div>-->
        <!--</aside>-->
      <!--</div>-->
      <!--<div class="homepage_iphone" style="cursor:pointer;">-->
        <!--<a id="lightbox" href="//www.youtube.com/watch?t=17&v=vNeL9RZkVJA?autoplay=1&rel=0"><img src="/assets/852147.png" alt="iPHONE"></a>-->
      <!--</div>-->
    </div>
    <!--warrper-->
  </div>
  <!--w ends-->
</section><!--cSlider-->
<!--<section class="section-white">-->
  <!--<div class="warrper">-->
    <!--<div class="w"><img src="/assets/hoooo1.png" alt="PHOTO"></div>-->
    <!--&lt;!&ndash;w&ndash;&gt;-->
    <!--<div class="celebInfo w">-->
      <!--<h1>Your celebrity, your video.</h1>-->

      <!--<div class="form">-->
        <!--<form id="desktop_search_form" action="#" method="get">-->
          <!--<p>Find a celebrity:</p>-->

          <!--<div class="bg-input">-->
            <!--<input id="search_box" type="text" class="input" placeholder="Search for a star">-->
            <!--<input id="search_button" type="button" class="btn-search" onclick="search_celeb_index()">-->
          <!--</div>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;celebInfo&ndash;&gt;-->
    <!--<div class="CLb w">-->
      <!--<div class="tweet-invite">-->
        <!--<aside>-->
          <!--<h3>Not on celeb<span class="bold">vidy</span> yet?-->
            <!--<span class="bold"><a target="_blank" href="https://twitter.com/intent/tweet?text=Celebvidy%20-%20Celebrity%20shout-out%20videos,%20on%20demand.&url=http://stage.celebvidy.com&via=celebvidy">Invite-->
              <!--them</a></span> to join:</h3>-->

          <!--<div class="icon">-->
            <!--<a target="_blank" href="https://twitter.com/intent/tweet?text=Celebvidy%20-%20Celebrity%20shout-out%20videos,%20on%20demand.&url=http://stage.celebvidy.com&via=celebvidy" title="Twitter"><img src="/assets/icon-twitter01.gif" alt="TWITTER" style="margin:0;"></a>-->
          <!--</div>-->
        <!--</aside>-->

        <!--<p style="color:#222;">Fans,-->
          <!--<span class="bold"><a target="_blank" href="https://twitter.com/intent/tweet?text=Celebvidy%20-%20Celebrity%20shout-out%20videos,%20on%20demand.&url=http://stage.celebvidy.com&via=celebvidy">Tweet</a></span>-->
          <!--to your stars and let them know you’d like them to make celebvidy shout-outs!</p>-->

      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;w&ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash;wrapper&ndash;&gt;-->
<!--</section>&lt;!&ndash;section-white&ndash;&gt;-->
<!--<div class="howitWrks">-->
  <!--<div class="warrper">-->
    <!--<h1>How does it work?</h1>-->

    <!--<div class="w">-->
      <!--<section class="horizontal">-->
        <!--<nav class="tabs">-->
          <!--<ul>-->
            <!--<li class="selected">-->
              <!--<a href="#details1">I'M A FAN</a><span class="arrow-left"></span>-->
            <!--</li>-->
            <!--<span class="sepL"></span>-->
            <!--<li>-->
              <!--<a href="#details2">I'M A CELEBRITY</a><span class="arrow-left"></span>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</nav>-->
        <!--<div class="tabDetailsWrapper">-->
          <!--<ul>-->
            <!--<li data-id="details1" class="selected">-->
              <!--<div class="w repDv">-->
                <!--<div class="roundList">-->
                  <!--<a href="#" onclick="directory()"><img src="/assets/img-icon01.png"></a>-->

                  <!--<p>Search and select a celebrity</p>-->
                <!--</div>-->
                <!--&lt;!&ndash;roundList&ndash;&gt;-->
                <!--<div class="roundList">-->
                  <!--<a href="javascript:"><img src="/assets/img-icon02.png"></a>-->

                  <!--<p>Submit a request during a celeb<strong>vidy</strong> availability</p>-->
                <!--</div>-->
                <!--&lt;!&ndash;roundList&ndash;&gt;-->
                <!--<div class="roundList">-->
                  <!--<a href="javascript:"><img src="/assets/img-icon03.png" style="width: 40%!important;"></a>-->

                  <!--<p>Pass your celeb’s review and approval</p>-->
                <!--</div>-->
                <!--&lt;!&ndash;roundList&ndash;&gt;-->
                <!--<div class="roundList">-->
                  <!--<a href="javascript:"><img src="/assets/img-icon04.png"></a>-->

                  <!--<p>Receive your own custom-made video!</p>-->
                <!--</div>-->
                <!--&lt;!&ndash;roundList&ndash;&gt;-->

              <!--</div>-->
              <!--&lt;!&ndash;w&ndash;&gt;-->
            <!--</li>-->
            <!--<li data-id="details2">-->
              <!--<div class="w repDv">-->
                <!--<div class="roundList">-->
                  <!--<a href="javascript:"><img src="/assets/img-icon05.png"></a>-->

                  <!--<p>Download the celeb<strong>vidy</strong> app.</p>-->
                <!--</div>-->
                <!--&lt;!&ndash;roundList&ndash;&gt;-->
                <!--<div class="roundList">-->
                  <!--<a href="javascript:"><img src="/assets/img-icon06.png"></a>-->

                  <!--<p>Tweet you’re now on celeb<strong>vidy</strong></p>-->
                <!--</div>-->
                <!--&lt;!&ndash;roundList&ndash;&gt;-->
                <!--<div class="roundList">-->
                  <!--<a href="javascript:"><img src="/assets/img-icon03.png" style="width: 40%!important;"></a>-->

                  <!--<p>Set video limit and begin to review/approve requests</p>-->
                <!--</div>-->
                <!--&lt;!&ndash;roundList&ndash;&gt;-->
                <!--<div class="roundList">-->
                  <!--<a href="javascript:"><img src="/assets/img-icon04.png"></a>-->

                  <!--<p>Use the app to record & complete requests.</p>-->
                <!--</div>-->
                <!--&lt;!&ndash;roundList&ndash;&gt;-->
              <!--</div>-->
              <!--&lt;!&ndash;w&ndash;&gt;-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</section>-->
    <!--</div>-->
    <!--&lt;!&ndash;w&ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash;w&ndash;&gt;-->
  <!--<div class="warrper">-->
    <!--<div class="vidExp w">-->
      <!--<p><span>Video examples: Anything! </span>From birthday greetings and get-well wishes to personal questions, group-->
        <!--shout outs, fun challenges and more! If your celebrity accepts your request, it’s on!</p>-->
    <!--</div>-->
    <!--&lt;!&ndash;vidExp&ndash;&gt;-->
  <!--</div>-->
<!--</div>&lt;!&ndash;howitWrks&ndash;&gt;-->
<!--<div class="be_ammong">-->
  <!--<div class="warrper">-->
    <!--<h1>Be among the first to submit!</h1>-->

    <!--<div class="tweets_sec">-->
      <!--<p><img src="/assets/tweets.png"> "Hey everyone! I’m on Celebvidy and doing 25 videos, starting now!-->
        <!--<a href="#">celebvidy.com/?4982a</a>"</p>-->

      <!--<div class="tweet_img"><img src="/assets/tweet_img.png"></div>-->
    <!--</div>-->
    <!--<div class="vidExp w">-->
      <!--<p><span>Celebvidy’s are limited.</span> Once a celebrity tweets out that they’re live, a set amount of videos can-->
        <!--be purchased. If your video is chosen, your celebrity can respond privately or publically on the official-->
        <!--celebvidy channel.</p>-->
    <!--</div>-->
    <!--&lt;!&ndash;vidExp&ndash;&gt;-->
    <!--<h1>Pay only if your video is made.</h1>-->

    <!--<div class="vidExp w">-->
      <!--<p class="mar0">Your payment is 100% refunded if your celebrity fails to record your celebvidy by your-->
        <!--deadline.</p>-->

      <!--<p class="mar0"><span>As well, celebvidy</span> encourages celebrities to donate a portion of proceeds to a-->
        <!--charity of choice.</p>-->
    <!--</div>-->
    <!--&lt;!&ndash;vidExp&ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash;vidExp&ndash;&gt;-->
  <!--<div class="get_start_now">-->
    <!--<h3>With celebvidy, fans and stars are closer than ever.</h3>-->

    <!--<div class="btn-middle">-->
      <!--<a href="/search-celebrities" class=" btn-primary sign-up">Get Started now</a> &lt;!&ndash;onclick="directory()"&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="faq_home">-->
  <!--<div class="warrper">-->
    <!--<h1>FAQ</h1>-->

    <!--<div class="faq_sec">-->
      <!--<div class="faq_box">-->
        <!--<p><strong>My celebrity is not on Celebvidy yet, what do I do?</strong>-->
          <!--Don’t worry, we’re on it. Everyday our team is reaching out to hundreds of celebrities, from musicians to-->
          <!--actors, media personalities to sports stars. Our goal, “if they’re famous, they’re here.” In the mean time,-->
          <!--invite your favorite celeb to join! Make your voice heard,-->
          <!--<a href="https://twitter.com/intent/tweet?text=Celebvidy%20-%20Celebrity%20shout-out%20videos,%20on%20demand.&url=http://stage.celebvidy.com&via=celebvidy" target="_blank">Tweet-->
            <!--out an invite</a></p>-->
      <!--</div>-->
      <!--<div class="faq_box">-->
        <!--<p><strong>How does my celebrity make my video?</strong>-->
          <!--All member celebrities have an exclusive celebvidy™ iPhone app which notifies them of incoming video requests-->
          <!--and helps them to record your custom message. If your video-request is reviewed, approved, and then recorded,-->
          <!--your credit card is charged for the initially agreed upon amount.</p>-->
      <!--</div>-->
      <!--<div class="faq_box">-->
        <!--<p><strong>What happens if my video request is rejected?</strong>-->
          <!--You will receive an email with your celebrity’s reason for rejection. You may re-submit another request if you-->
          <!--so choose. Celebvidy encourages positive, light-hearted messages. Celebrities reserve the right to choose what-->
          <!--they will record.</p>-->
      <!--</div>-->
      <!--<div class="faq_box">-->
        <!--<p><strong>How long does it take?</strong>-->
          <!--Depends. Some celebrities will respond immediately, others may take longer. Typically, a request should be-->
          <!--returned within 2 weeks.</p>-->
      <!--</div>-->
      <!--<div class="faq_box">-->
        <!--<p><strong>How do I know I’ll get my video?</strong>-->
          <!--We deliver every video securely to you via e-mail and in your secure online profile. If you have any questions-->
          <!--you may call our 24 hour customer service hotline at 1-844-304-VIDY.</p>-->
      <!--</div>-->
      <!--<div class="faq_box">-->
        <!--<p><strong>Are my celebvidy’s public?</strong>-->
          <!--If you’d like them to be, you can select yours to be shared on-->
          <!--the<a href="https://www.youtube.com/channel/UC9xpEyOnJp5VBH9p3jWh33g" target="_blank"> official celebvidy™-->
          <!--YouTube channel.</a> Or, you can decide to keep yours private and just between you and your celebrity.</p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="still_qst">Still have a question? <a href="#" onclick="get_static('contact_us')">Get in touch with-->
      <!--us!</a></div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="home">-->
<!--<div class="warrper">-->
<!--<div class="home_left">-->
<!--<h2>ON-DEMAND, <span>Personalized </span> Video Shout Outs.</h2>-->

<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore-->
<!--magna aliqua.</p>-->

<!--<p>Celebrities on your screen for you and your friends..</p>-->

<!--<div class="hom_serch">-->
<!--<form>-->
<!--<input type="text" placeholder="Find your favorite star" id="search_celeb" >-->
<!--<input type="submit" value="Search"  onclick="search_celeb_index()">-->
<!--<button name="searc" onclick="search_celeb()"></button>-->
<!--<div class="search-icon">-->
<!--<button name="searc" onclick="search_celeb_index()"></button>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--<div class="home_right">-->
<!--<div class="app_con">-->
<!--<div class="see_vid">-->
<!--<img src="/assets/home_logo.png">-->
<!--<label>See the Video</label>-->
<!--</div>-->
<!--<div class="home_links">-->
<!--<a href="#" class="get_app"><img src="/assets/get_app.png" alt=""></a>-->
<!--<a href="#" class="socl"><img src="/assets/flke.png"></a>-->
<!--<a href="#" class="socl"><img src="/assets/twitter_home.png"></a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="home_fon"><img src="/assets/fone.png"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="coursl">-->
<!--<div class="crousal-con">-->
<!--<div class="newest-h">Celebrities on your screen for you and your friends.</div>-->
<!--newest-h end-->
<!--<ul id="flexiselDemo3">-->
<!--
<%# if @verified.size > 0 %>-->
<!--
<%# @verified.each do |c| %>-->
<!--<li onclick="show(<%#= c.user.id if c.user.present? %>)">-->
<!--
<%# if c.avatar.present? %>-->
<!--<%#= image_tag c.avatar(:thumb) %>-->
<!--
<%# else %>-->
<!--<%#= image_tag "missing.jpg" %>-->
<%# end %>
<!--</li>-->
<!--
<%# end %>-->
<!--
<%# end %>-->
<!--</ul>-->
<!--</div>-->
<!--crousal-con end-->
<!--</div>-->
<!--<div class="work">-->
<!--<div class="warrper">-->
<!--<h1>HOW DOES IT WORK?</h1>-->

<!--<div class="demo">-->
<!--<div id="horizontalTab">-->
<!--<ul class="resp-tabs-list fl_no">-->
<!--<li>I’M A FAN</li>-->
<!--<li>I’M A CELEBRITY</li>-->
<!--</ul>-->
<!--<div class="resp-tabs-container">-->
<!--<div>-->
<!--<div class="servic">-->
<!--<div class="servic_box">-->
<!--<div class="servic_icon srvc_1"></div>-->
<!--<h4>Tab1 Search and select a celebrity</h4>-->
<!--</div>-->
<!--<div class="servic_box">-->
<!--<div class="servic_icon srvc_2"></div>-->
<!--<h4>Tab1 Submit a request during a celevvidy availability</h4>-->
<!--</div>-->
<!--<div class="servic_box">-->
<!--<div class="servic_icon srvc_3"></div>-->
<!--<h4>Tab1 Pass your celeb ‘s review and approval</h4>-->
<!--</div>-->
<!--<div class="servic_box">-->
<!--<div class="servic_icon srvc_4"></div>-->
<!--<h4>Tab1 Receive your own- custom made video!</h4>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div>-->
<!--<div class="servic">-->
<!--<div class="servic_box">-->
<!--<div class="servic_icon srvc_1"></div>-->
<!--<h4>Tab2 Search and select a celebrity</h4>-->
<!--</div>-->
<!--<div class="servic_box">-->
<!--<div class="servic_icon srvc_2"></div>-->
<!--<h4>Tab2 Submit a request during a celevvidy availability</h4>-->
<!--</div>-->
<!--<div class="servic_box">-->
<!--<div class="servic_icon srvc_3"></div>-->
<!--<h4>Tab2 Pass your celeb ‘s review and approval</h4>-->
<!--</div>-->
<!--<div class="servic_box">-->
<!--<div class="servic_icon srvc_4"></div>-->
<!--<h4>Tab2 Receive your own- custom made video!</h4>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="wrk_desc">-->
<!--<div class="warrper03">-->
<!--<p><span>Video examples: Anything! </span>From birthday greetings and get-well wishes to personal questions,-->
<!--group shout outs, fun</p>-->

<!--<p>challenges and more! If your celebrity accepts your request, it’s on!</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--<div class="twitr">-->
<!--<div class="warrper">-->
<!--<h1>Be among the first to submit!</h1>-->

<!--<div class="slider3">-->
<!--<div class="slide">-->
<!--<div class="tweet_box fl_l">-->
<!--<div class="tweet_desc ">-->
<!--<h2>Not on celebvidy yet? </h2>-->

<!--<h2><span>Invite them</span>to join:</h2>-->

<!--<p>Fans, <span>Tweet </span>to your stars and let them know you’d like them to make celebvidy shout-outs!-->
<!--</p>-->
<!--<a href="#">Tweet now...</a>-->
<!--</div>-->
<!--<div class="twet_img"><img src="/assets/tweet_box.jpg"></div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="slide">-->
<!--<div class="tweet_box fl_l">-->
<!--<div class="tweet_desc ">-->
<!--<h2>Not on celebvidy yet? </h2>-->

<!--<h2><span>Invite them</span>to join:</h2>-->

<!--<p>Fans, <span>Tweet </span>to your stars and let them know you’d like them to make celebvidy shout-outs!-->
<!--</p>-->
<!--<a href="#">Tweet now...</a>-->
<!--</div>-->
<!--<div class="twet_img"><img src="/assets/tweet_box1.png"></div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="slide">-->
<!--<div class="tweet_box fl_l">-->
<!--<div class="tweet_desc ">-->
<!--<h2>Not on celebvidy yet? </h2>-->

<!--<h2><span>Invite them</span>to join:</h2>-->

<!--<p>Fans, <span>Tweet </span>to your stars and let them know you’d like them to make celebvidy shout-outs!-->
<!--</p>-->
<!--<a href="#">Tweet now...</a>-->
<!--</div>-->
<!--<div class="twet_img"><img src="/assets/tweet_box.jpg"></div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="slide">-->
<!--<div class="tweet_box fl_l">-->
<!--<div class="tweet_desc ">-->
<!--<h2>Not on celebvidy yet? </h2>-->

<!--<h2><span>Invite them</span>to join:</h2>-->

<!--<p>Fans, <span>Tweet </span>to your stars and let them know you’d like them to make celebvidy shout-outs!-->
<!--</p>-->
<!--<a href="#">Tweet now...</a>-->
<!--</div>-->
<!--<div class="twet_img"><img src="/assets/tweet_box1.png"></div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="slide">-->
<!--<div class="tweet_box fl_l">-->
<!--<div class="tweet_desc ">-->
<!--<h2>Not on celebvidy yet? </h2>-->

<!--<h2><span>Invite them</span>to join:</h2>-->

<!--<p>Fans, <span>Tweet </span>to your stars and let them know you’d like them to make celebvidy shout-outs!-->
<!--</p>-->
<!--<a href="#">Tweet now...</a>-->
<!--</div>-->
<!--<div class="twet_img"><img src="/assets/tweet_box.jpg"></div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="slide">-->
<!--<div class="tweet_box fl_l">-->
<!--<div class="tweet_desc ">-->
<!--<h2>Not on celebvidy yet? </h2>-->

<!--<h2><span>Invite them</span>to join:</h2>-->

<!--<p>Fans, <span>Tweet </span>to your stars and let them know you’d like them to make celebvidy shout-outs!-->
<!--</p>-->
<!--<a href="#">Tweet now...</a>-->
<!--</div>-->
<!--<div class="twet_img"><img src="/assets/tweet_box1.png"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--slider3 end-->
<!--</div>-->
<!--</div>-->
<!--<script type="text/javascript">-->
<!--$(document).ready(function () {-->
<!--$('#horizontalTab').easyResponsiveTabs({-->
<!--type: 'default', //Types: default, vertical, accordion           -->
<!--width: 'auto', //auto or any width like 600px-->
<!--fit: true,   // 100% fit in a container-->
<!--closed: 'accordion', // Start closed if in accordion view-->
<!--activate: function (event) { // Callback function if tab is switched-->
<!--var $tab = $(this);-->
<!--var $info = $('#tabInfo');-->
<!--var $name = $('span', $info);-->
<!---->
<!--$name.text($tab.text());-->
<!---->
<!--$info.show();-->
<!--}-->
<!--});-->
<!---->
<!--$('#verticalTab').easyResponsiveTabs({-->
<!--type: 'vertical',-->
<!--width: 'auto',-->
<!--fit: true-->
<!--});-->
<!---->
<!--$(".menu-icon").click(function () {-->
<!--$(this).next('ul').slideToggle();-->
<!--//$('').toggle("slide", { direction: "up" }, 1000);-->
<!--});-->
<!--});-->
<!--</script>-->
<script type="text/javascript">
    $('#modeSwitcher').click(function (e) {
        $('section').toggleClass('horizontal');
    });

    $('.tabs li, .tabs li a').click(function (e) {
        var $link = $(this).find('a'),
                targetId;

        if (!$link.length || $(this).hasClass('selected')) {
            e.preventDefault();
            return;
        }
        targetId = $link.attr('href').substring(1);
        $('.tabs li').removeClass('selected');
        $(this).addClass('selected');
        $('.tabDetailsWrapper>ul>li').hide();
        $('.tabDetailsWrapper>ul>li[data-id=' + targetId + ']').fadeIn();
    });
    //    $(window).load(function () {
    //        $("#flexiselDemo3").flexisel({
    //            visibleItems: 5,
    //            animationSpeed: 1000,
    //            autoPlay: true,
    //            autoPlaySpeed: 2000,
    //            pauseOnHover: true,
    //            enableResponsiveBreakpoints: true,
    //            responsiveBreakpoints: {
    //                portrait: {
    //                    changePoint: 480,
    //                    visibleItems: 1
    //                },
    //                landscape: {
    //                    changePoint: 640,
    //                    visibleItems: 2
    //                },
    //                tablet: {
    //                    changePoint: 800,
    //                    visibleItems: 3
    //                }
    //
    //            }
    //        });
    //
    //    });

    $(document).ready(function () {

        $('#lightbox').magnificPopup({ src: '//www.youtube.com/watch?t=17&v=vNeL9RZkVJA?autoplay=1&rel=0',
                type: 'iframe'});


//        $('#search_box').keyup(function (e) {
//            var code = (e.keyCode ? e.keyCode : e.which)
//            if (code == 13) {
//                search_celeb_index();
//            }
//        });

//        if (<%#= params[:scroll] == "true" %>) {
////            $(window).scrollTop($('.work').offset().top);
////            $(window).animate({},200)
//            $('html, body').animate({scrollTop: $(".howitWrks").offset().top}, 750);
//        }
        $("#head_div").removeClass('bg-image');
        $("#head_div").addClass('bg-image4');

//        var slider;

//        function bxslider() {
//            var width = $(window).width();
//            if (width > 765) {
//                slider = $('.slider3').bxSlider({
//                    slideWidth: 2000,
//                    minSlides: 2,
//                    maxSlides: 4,
//                    slideMargin: 10
//                });
//                slider.reloadSlider();
//            }
//            else {
//                var slider = $('.slider3').bxSlider({
//                    minSlides: 1,
//                    maxSlides: 1
//                });
//                slider.reloadSlider();
//            }
//        }

//        $(window).resize(function () {
//            bxslider();
//        });
        $(".menu-icon").click(function () {
            $(this).next('ul').show();
            //$('').toggle("slide", { direction: "up" }, 1000);
        });

    });
    $('#search_box').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which)
//        alert(code)
        if (code == 13) {
//        delay(function(){
            var name = $('#search_box').val();
            search_text_index(name)
//        }, 400 );

        }
    });

//    var delay = (function(){
//        var timer = 0;
//        return function(callback, ms){
//            clearTimeout (timer);
//            timer = setTimeout(callback, ms);
//        };
//    })();


    //    $("body").data("page", "frontpage");
    function search_celeb_index() {
        var text = $('#search_box').val();
        search_text_index(text)

    }

    function search_text_index(text) {
        $.ajax({
            url: '/celeberties/searching_from_index?text=' + text + '&search=search',
            dataType: 'html',
            async: false,
            type: "post",
            success: function (data) {
                $("#container").html(data)
                window.scroll(0, 0)

            },
            error: function(data) {
                return false;
            }
        });
    }


</script>