<div class="warrper">
  <div class="white-cotaner" style="margin-bottom: 0px!important;">
    <div class="directory-page-h">Under work123456789</div>

  </div>
</div>
<div class="coursl">
  <div class="crousal-con">
    </ul>
  </div>
</div>

<script>
    $('#search_celeb').keyup(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which)
//        alert(code)
//        if (code == 13) {
        delay(function(){
            var name = $('#search_celeb').val();
            search_text_a(name)
        }, 400 );

//        }
    });

    var delay = (function(){
        var timer = 0;
        return function(callback, ms){
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
        };
    })();
    function search_celeb() {
        var text = $('#search_celeb').val();
        search_text_a(text)

    }

    function search_text_a(text) {
//        alert('bb')
//        var ind = $("#industry_industry_id").val()
        $.ajax({
            url: '/celeberties/searching?text=' + text + '&search=search',
            success: function (data) {
                $("#all_celebs").html(data)
            }
        });
    }

    function showw(id)
    {
        window.location.href = '/celebrities/'+ id +''
    }
    //    function search_text_a(text) {
    //        var ind = $("#industry_industry_id").val()
    //        $.ajax({
    //            url: 'celeberties/searching?text=' + text + '&search=search &ind=' + ind,
    //            success: function (data) {
    //                $("#all_celebs").html(data)
    //            }
    //        });
    //    }


    $(document).ready(function () {
        $("#search_celeb").attr("value", "<%= @text %>");
        $("#flexiselDemo3").flexisel({
            visibleItems: 5,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 2000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 2
                },
                tablet: {
                    changePoint: 768,
                    visibleItems: 3
                }
            }
        });

    });

    $(document).ready(function () {
        $(".menu-icon").click(function () {
            $(this).next('ul').show();
            //$('').toggle("slide", { direction: "up" }, 1000);
        });
    });

</script>