  <div class="warrper">
    <div class="white-cotaner">
      <div class="form-con-checkout-main">


        <div class="confirm-detail-con">


          <div class="term_cont">
            <div class="term_title">Terms of Services</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio massa, luctus eu est in, luctus blandit lorem. In purus justo, facilisis ut bibendum sed, tincidunt sit amet metus. Duis pulvinar dapibus nulla non gravida. Pellentesque at finibus nulla, eu ultrices ipsum. Aliquam id posuere orci. Phasellus imperdiet metus aliquet tempor sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed mattis quis nibh at faucibus. Morbi volutpat erat id aliquet ullamcorper. Integer nec lorem tellus. In semper vitae nisi non fringilla. Mauris lacinia, nibh ac pulvinar ultrices, ante arcu pulvinar enim, non commodo ipsum metus in nisl.</p>
            <h3>H3 - ANOTHER HEADER</h3>
            <p>Quisque non orci hendrerit, posuere dui sed, rutrum ante. Aenean eu aliquam orci, sodales facilisis libero. Fusce laoreet rutrum arcu. Maecenas egestas non mi nec gravida. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce in viverra elit. Curabitur a quam elit. Mauris eu ipsum at velit posuere egestas non nec mauris. Quisque ut blandit nisl, ac bibendum erat.</p>
            <p>Vivamus iaculis augue est, nec semper ex varius nec. Morbi pellentesque nunc velit, sit amet vulputate nunc facilisis ac. Nulla congue nulla quis molestie facilisis. Integer porta sodales ullamcorper. Nulla facilisi. Etiam interdum enim lectus, at tincidunt magna lobortis ac. Aenean ultricies blandit est et consequat.</p>
            <h4>H4 - ANOTHER HEADER </h4>
            <h5>H5 - ANOTHER HEADER</h5>
            <h6>H6 - ANOTHER HEADER </h6>
            <p>n eu pharetra justo. Maecenas at eros sollicitudin, lacinia libero et, aliquam elit. Morbi sodales tristique suscipit. In mattis libero sed sem venenatis rutrum. Phasellus mattis velit ut nisl placerat, at consequat lacus tempus. Aenean id metus tincidunt, molestie massa non, posuere lacus. Fusce est odio, tempus nec suscipit eu, facilisis at turpis. Vestibulum tincidunt velit magna, sed bibendum mauris sodales ac.
            </p>
            <p>
              Duis ac massa massa. Proin congue tellus eget malesuada finibus. Nam auctor fermentum nisi, id bibendum risus tincidunt sed. Cras tellus enim, vestibulum quis velit non, scelerisque convallis augue. Etiam lectus lectus, fringilla id ornare ut, posuere sed tellus. Sed tincidunt posuere tempus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam vestibulum lorem vulputate tempus molestie. Vestibulum sit amet lorem tempus, elementum sapien in, porttitor lorem. Quisque lobortis congue fermentum. Vivamus hendrerit congue gravida. Vestibulum faucibus urna non magna gravida, ac vestibulum quam venenatis. Vivamus elementum felis vehicula, tincidunt nibh in, sagittis erat. Nulla facilisi. Praesent rutrum eu mi ut lobortis.</p>
          </div>
        </div><!--confirm-detail-con end-->

      </div><!--form-con-checkout-main end-->




      <div class="message-main-con">
        <div class="proright-bar-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio massa, luctus eu est in, luctus blandit lorem. In purus justo, facilisis ut bibendum sed, tincidunt sit amet metus. </p>
          <p>Duis pulvinar dapibus nulla non gravida. Pellentesque at finibus nulla, eu ultrices ipsum.</p>
        </div><!--proright-bar-text end-->
      </div><!--message-main-con end-->
    </div><!--white-cotaner end-->
  </div><!--warrperend-->
