<div class="warrper">
<div class="our_team_sec border-up">
  <div class="warrper01">
    <img src="/assets/team.png" class="team">

    <div class="team_title">
      <h2>Our Team</h2>
      <h4>Making the magic happen</h4>
    </div>
  </div>
</div>
<div class="our_team_sec01 border-dn">
<div class="warrper01">
<div class="demo">
<div id="verticalTab">
<ul class="resp-tabs-list">
  <li>Team</li>
  <li>Advisory Board</li>
  <li>Stunt Crew</li>
</ul>
<div class="resp-tabs-container">
<!--Team-->
<div>
  <div class="team_membr">
    <h2>Dan Fleyshman</h2>
    <div class="team_detail">
      <img src="/assets/team_member.png">

      <p class="pgraf">Dan Fleyshman is the youngest founder of a publicly traded company in history. At the
        age of 23, after selling $15M of clothing in six department store chains and surpassing expectations
        with his $9.5M licensing deal with STARTER apparel, Dan launched the "Who's Your Daddy" energy drink
        into 55,000 retail stores and military bases.</p>

      <p>Ten years after starting his licensing company in high school, Dan went on to launch Victory Poker
        in 2010, building the third largest team of professional players out of the 550 poker sites on the
        market. This generated 5M views on YouTube alone
        <span>(<a href="#">http://youtu.be/r1JbzWEOxPM.</a>)</span></p>

      <p>Dan has acted as an angel investor/consultant for 14 companies ranging from the Invisible Text
        mobile app (goinvis.com) to the well-received 321juice.com available in Whole Foods. Three companies
        along the way garnered his attention enough to help scale them on a more hands-on consulting basis.
        Dan also acted as Director of Gaming for engagebdr.com, the #1 online advertising network in the
        world. As Director of Sales for mopro.com, he hired and trained 40 reps and had $5.4M in sales
        within five months. Ellis Island, one of the highest net profit casino operations, brought him on as
        CEO of Interactive to build the entire concept from scratch by using his vast relationships and
        gaming experience. Along the way, he supported more than 24 charities before finally launching his
        own modelcitizenfund.org, a company that creates backpacks filled with over 150 emergency supply
        items for the homeless. It has been the official charity of the World Series of Poker Europe for the
        past few years and has been featured on Fox Sports and ESPN. His company supports homeless shelters
        in Los Angeles, San Diego and Las Vegas as well as orphanages in Tiajana and Peru.</p>

      <p>Dan is an avid poker player with multiple 1st place wins ranging from the $5K CEO Poker
        Championship at the Palms, the Canadian Poker Tour Main Event, the $25K high roller event at the
        Commerce Casino and winning the $10K Chipleader Challenge at the Hard Rock. In May 2014, he founded
        celebvidy.com, a site that allows fans to purchase video greetings and ask questions directly from
        celebrities, athletes, fitness experts and business leaders at an affordable price. Dan has built an
        amazing advisory board for this company and has signed on hundreds of influencers to connect with
        their fans safely and directly while earning revenue by monetizing their fan base.</p>
    </div>
  </div>
  <div class="team_membr">
    <h2>Austin Hurst</h2>
    <div class="team_detail">
      <img src="/assets/team_member2.png">

      <p class="pgraf">Austin Hurst is a serial entrepreneur and web consultant. Austin got his start before
        he was a teenager selling products on eBay. Through his teens, he co-founded several successful
        businesses in the web design, marketing and web hosting arenas. In 2005, he co-created 1Dawg.com, an
        online video platform which once ranked 5th amongst "YouTube like" sites.</p>

      <p>1Dawg.com was the first ever web service to convert video on the fly and was the first
        user-generated video website to send video directly to mobile phones. The site supported over six
        million unique users in its first four months online, making it one of the fastest growing websites
        of all time. In a 2007 Forbes article, 1Dawg was mentioned next to YouTube, Dailymotion and Veoh.
        After proving scalability, 1Dawg successfully licensed the video technology via a white-label
        "Software as a Service" model. After 1Dawg, Austin angel invested in several companies and provided
        consulting services to start-ups through 2012. Austin is a managing partner at Hurst Capital LLLP
        where he has a portfolio of assets under management. </p>
    </div>
  </div>
  <div class="team_membr">
    <h2>Zach Hurst</h2>
    <div class="team_detail">
      <img src="/assets/team_member3.png">

      <p class="pgraf">Zach Hurst, Austin’s twin, is also a life-long entrepreneur and technology
        consultant. Through his early teens, Zach worked alongside Austin in the web design, marketing and
        web hosting space. In 2005, when Zach was a freshman at Kansas University, he conceptualized the
        idea for the 1Dawg.com service, wrote a business plan and raised outside capital for his first
        time.Countless ventures later, Zach and Austin formed Hurst Capital, LLLP where, as a co-managing
        partner, Zach has enjoyed dabbling in everything from angel investments to bankruptcy, restructuring
        and turn-around efforts. Much like his brother Austin, Zach has been featured in numerous
        publications including the Wall Street Journal and CNBC. Presently, Zach’s main focus is on
        Celebvidy.</p>
    </div>
  </div>

  <div class="team_membr">
    <h2>Steve Aoki</h2>
    <div class="team_detail">
      <img src="/assets/team_member4.png">

      <p class="pgraf">Steve Aoki is a Japanese-American electro house musician, record producer and music executive.
        Known for energetic live shows, in 2012 Pollstar listed Aoki as the highest grossing dance artist in North
        America from tours. He has collaborated with producers and vocalists such as will.i.am, Afrojack, LMFAO, Iggy
        Azalea, Lil Jon, and Laidback Luke, and is known for his remixes of artists such as Kid Cudi. Aoki has released
        several Billboard-charting studio albums as well, most notably Wonderland, nominated for a Grammy in 2013 for
        Best Dance/Electronica Album. He is currently releasing his two-part album series Neon Future. The first part
        was released on September 30, 2014. He is the founder of the Steve Aoki Charitable Fund, which raises money for
        global humanitarian relief organizations. The Fund is the beneficiary of the proceeds from his recorded videos
        on Celebvidy.</p>
    </div>
  </div>
</div>


<!--Advisory Board-->
<div>
  <div class="team_membr">
    <h2>David Maisel</h2>
    <div class="team_detail">
      <img src="/assets/davidmaisel.png">

      <p class="pgraf">David Maisel has been an Advisor to Rovio, the owners of Angry Birds, since 2011 and is the
        Executive Producer of the Angry Birds feature film to be released in 2016. Prior to this, David served in senior
        executive positions with Marvel Entertainment from 2003 to 2010, where he conceived and spearheaded the creation
        of Marvel Studios, the launch of the "Iron Man" franchise and Marvel's 2010 sale to The Walt Disney Company. At
        Marvel, David was CEO for Marvel Entertainment and Chairman of Marvel Studios. He was also the Executive
        Producer of "Iron Man", "The Incredible Hulk", "Iron Man 2", "Thor" and "Captain America: The First Avenger".
        Prior to Marvel, David served in senior executive positions at Endeavor Talent Agency, The Walt Disney Company,
        Creative Artists Agency, and The Boston Consulting Group. He is a graduate of Harvard Business School and Duke
        University.</p>
    </div>
  </div>
  <div class="team_membr">
    <h2>Nick Cannon</h2>
    <div class="team_detail">
      <img src="/assets/nick.png">
      <p class="pgraf">Nick Cannon is an American actor, comedian, rapper, entrepreneur, record producer,
        and radio and television personality. On television, Cannon began as a teenager on All That before
        going on to host The Nick Cannon Show, Wild 'N Out, and America's Got Talent.
        Cited by People Magazine as one of the ‘Top Ten most successful young people in Hollywood’
        and featured on the Cover of Black Enterprises’ 40 Under 40, Nick Cannon, 30 years old is a
        successful, multi-faceted entertainer: film star, comedian, musician, writer and executive
        producer of his very own hit TV shows.. </p>
    </div>

  </div>
  <div class="team_membr">
    <h2>Kevin Harrington</h2>
    <div class="team_detail">
      <img src="/assets/kevin.png">

      <p class="pgraf">Kevin Harrington is an American entrepreneur and business executive known as the inventor of the
        infomercial and is the founder of “As Seen on TV”. He has appeared as a “Shark” on the television series Shark
        Tank and was the Keynote Speaker at Impex, the American annual invention trade show. </p>
    </div>
  </div>
  <div class="team_membr">
    <h2>Gavin Keilly</h2>
    <div class="team_detail">
      <img src="/assets/gavin.png">

      <p class="pgraf">Gavin Keilly is the founder of GBK Productions, (gbkproductions.com), and parent companies GBK
        Weddings and GBK Public Relations. Gavin, a Southern California native, organizes special events for the
        entertainment industry, the non-profit sector and is renowned for his celebrity gift suites. The ultimate
        specialist, Gavin’s superlative skills are vital to ensure the success of an event. Personally involved in each
        function, he utilizes a holistic method to discern and design each client’s unique vision. Stunning and
        imaginative affairs are Gavin’s forte with the added value of savvy vendor negotiating with caterers, sound
        engineers, venue reps, rental companies and printers. Past clients include ABC Studios, City of Hope, Elton John
        AIDS Foundation, EXTRA TV, Global Peace Initiative at the United Nations, Hollywood Jazz Festival, Jurlique Spa,
        MTV Studios, Paramount Pictures, So the World May Hear, Showtime, Sharon Osbourne Colon Cancer Foundation, the
        Steve Harvey Show, Tribute to Jerry Lewis, Telepicture and more. GBK has won multiple awards from Biz Bash for
        the Best Gift Suite, and Gavin was honored as Humanitarian-of-the-Year for his ongoing philanthropic
        efforts. </p>
    </div>
  </div>
  <div class="team_membr">
    <h2>David Meltzer, Esq.</h2>
    <div class="team_detail">
      <img src="/assets/davidmeltzer.png">

      <p class="pgraf">David Meltzer is the Chief Executive Officer at Sports 1 Marketing, A Warren Moon Enterprise and
        oversees all day-to-day business operations at the firm. At Sports 1, David’s sports and entertainment industry
        contacts are instrumental in capitalizing his clients marketing and endorsement potential, enabling him to
        secure lucrative and diverse business opportunities including endorsement deals, sponsorships, corporate equity
        ownership positions and more. Prior to this, as CEO of Leigh Steinberg Sports & Entertainment, David, along with
        Leigh, and Warren Moon, negotiated over $2B in sports and entertainment contracts. In addition to athlete
        representation, LSSE served as creative and technical consultants on movie and television projects such as,
        Jerry Maguire, Any Given Sunday, For The Love of the Game and HBO’s Arli$$. As a professional in this industry
        for over 15 years, David has managed processes and practices including the creation and implementation of
        strategies and tactics for beginning and scaling a business, recruitment and management, sponsorships,
        endorsements, go-to-market planning and execution. David is considered one of the pioneers within the
        ever-changing online and interactive business channel development. Throughout his career, David’s efforts have
        resulted in high levels of success and growth within large, multi-national corporations such as Westlaw, Thomson
        and Samsung, as well as small private and venture-funded startups. In addition, he is the author of a new book
        “Connected To Goodness: Manifest Everything You Desire In Business and Life” with Harrison Lebowitz and Foreword
        by Warren Moon (Balboa Press, 2014). In 2014, he received an Ellis Island Medal of Honor from the National
        Ethnic Coalition of Organizations and was knighted by the Order of St. John of Jerusalem. David attended
        Occidental College and Tulane University Law School. He and his wife, Julie, and their four children live in
        California.</p>
    </div>
  </div>
  <div class="team_membr">
    <h2>Ted Dhanik</h2>
    <div class="team_detail">
      <img src="/assets/teddhanik.png">

      <p class="pgraf">Ted Dhanik is a co-founder of engage:BDR, Inc. Ted serves as President and Executive Vice
        President of Business Development overseeing strategic marketing, sales and business development, client
        relationship management and content acquisition. From 2003 to 2008, Ted was with MySpace.com developing
        strategic marketing initiatives. Working very closely with founders Chris DeWolfe and Tom Anderson, Ted was
        responsible for launching the brand in its infancy through a very specific combination of on- and offline
        campaigns. Ted innovated business development at LowerMyBills.com in its early stages through acquisition by
        Experian, and was also an integral part of the early development and launch of the consumer lending program at
        NexTag Corporation. Ted has worked for or been a partner at several other companies in business development,
        sales, and managerial positions, such as Xoriant Corporation, Atesto Technologies, Inc., Brigade Solutions,
        Beyond.com/Cybersource Corporation, and Merrill Corporation. Ted has a degree in Business Administration and
        Marketing from California State University at Hayward. Ted sits on the board or is an advisor for other tech
        startups such as Fighter, LottoGopher and Schizo Pictures, and is an active mentor at Los Angeles-based startup
        accelerator Start Engine.</p>
    </div>
  </div>
  <div class="team_membr">
    <h2>Branden Hampton</h2>

    <div class="team_detail">
      <img src="/assets/brandenhampton.png">

      <p class="pgraf">Branden Hampton is the largest independent social media publisher, with over 26M real, engaged
        followers across a variety of niche-industries on Twitter, Instagram, and Facebook. He is a content, engagement,
        and branding master who teaches individuals and brands how to maximize their online presence and develop a
        strong and engaged digital footprint. Forbes rated his Twitter profile @notebook the number 1 most influential
        profile on Twitter. With some of the world's most influential pieces of digital real estate in his possession,
        Branden is the guy to get you noticed.</p>
    </div>
  </div>
  <div class="team_membr">
    <h2>Marvin Epstein</h2>

    <div class="team_detail">
      <img src="/assets/marvin.png">

      <p class="pgraf">Marvin Epstein is an accomplished serial entrepreneur. He is a director level business strategist
        and principal investor who creates investment opportunities through his significant business relationships and
        his ability to create previously undiscovered cross marketing business opportunities. He enjoyed years of
        success in finance with his expertise marketing to private investors thus creating I.A.T. Capital, a private
        enterprise. His focus is working with fellow entrepreneurs and executives in a variety of business investments
        including sports, entertainment, new media technology and hospitality including ownership in Kitchen 24 in Los
        Angeles. Marvin later became a principal and partner of Karma International, a private membership organization
        that provides a sensational social community for entrepreneurs and executives that want to make a difference.
        They have raised awareness and raised hundreds of thousands of dollars for a variety of deserving organizations.
        Prior to his entrepreneurial career, Marvin ran a video display production company, producing events, marketing
        campaigns and sponsorship development programs for clients including MTV, World Cup Soccer, The Olympics, and
        Coca-Cola. Partnering with NASCAR and Speedway Motor sports Inc he created the first closed circuit outdoor
        television network. Marvin graduated with a degree in business administration from Long Beach State University
        where he continued to impact college students on the board of Young Professionals Global Network, a company that
        produced business academy seminars for students nationwide, to connect with entrepreneurs and executives from
        the Fortune 500. As a board member of several charities and an experienced public speaker, his goal is to
        inspire fellow entrepreneurs and future leaders about effective business strategies that will benefit charities
        while improving the lives of others. His passion is to positively impact the world and lay the groundwork for a
        better overall environment.</p>
    </div>
  </div>
</div>


<!--Investors-->
<!--<div>
  <div class="team_membr">
    <h2>Hurst Capital, LLLP</h2>
    <h4>"www.hurstcap.com"</h4>

    <div class="team_detail">
      <img src="/assets/hurstcap.png">

      <p class="pgraf">A predominantly effectual mindset can be efficiently balanced through careful due diligence and a
        precise focus on the underlying metrics. The risk averse oftentimes envy a fearless disruptor who, while not
        afraid to pivot, painstakingly coerces their vision into reality. Properly harnessing this rare type of passion
        and drive, while maintaining a deep appreciation for human fallibility, makes for an exciting entrepreneurial
        atmosphere filled with unlimited potential. www.hurstcap.com </p>
    </div>
  </div>
  <div class="team_membr">
    <h2>Relationship Capital</h2>
    <h4>"www.rcifund.com"</h4>

    <div class="team_detail">
      <img src="/assets/rci.png">

      <p class="pgraf">The founders have built up decades of relationships in various fields and have seen the real
        world situations of what works and doesn't work for businesses. We want to use our endless relationships to help
        better companies in the entertainment, music, internet world besides investing the capital they need to move to
        the next level. We are starting with this 100 million dollar fund to accelerate the growth of dozens of
        companies while creating 1000's of desperately needed new jobs and making a great return for our investors along
        the way. www.rcifund.com </p>
    </div>
  </div>
</div>
-->
<div>
  <div class="team_membr">
    <h2>Cupcake Killings</h2>
    <h4>"@cupcake_killings on Instagram"</h4>

    <div class="team_detail">
      <img src="/assets/cupcake.png">

      <p class="pgraf">Cupcake is the company pup and driver of cuteness. @cupcake_killings on Instagram. </p>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="copyrightMob">2015 Celebvidy. All Rights Reserverd.</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#head_div").removeClass('bg-image4');
        $("#head_div").addClass('bg-image3');

        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true,   // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);

                $name.text($tab.text());

                $info.show();
            }
        });

        $('#verticalTab').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true
        });
    });
</script>