<div class="warrper">
<div class="terms_sec roundd-borde">
<div class="term_cont">
<div class="term_title">Privacy Policy</div>
<p>THE FOLLOWING PRIVACY POLICY (THE OR THIS <b>“PRIVACY POLICY”</b>) GOVERNS YOUR USE OF THE MOBILE APPLICATION
  AND CELEBVIDY.COM WEBSITE AND THE PRODUCTS AND SERVICES OFFERED ON OR THROUGH THE MOBILE APPLICATION AND WEBSITE
  (COLLECTIVELY, THE <b>“APPLICATION”</b>) OWNED, PUBLISHED AND MAINTAINED BY CELEBVIDY LLC, A NEVADA LIMITED
  LIABILITY COMPANY (<b>CELEBVIDY</b>,” <b>“US</b>,” <b>“WE,”</b> OR <b>“OUR”</b>). BY VISITING AND USING THIS
  APPLICATION AND ANY PRODUCT, SERVICE OR COMPONENT THEREOF, YOU AGREE TO THE TERMS OF THIS PRIVACY POLICY AS THEY
  MAY BE AMENDED FROM TIME TO TIME. CELEBVIDY CREATED THIS PRIVACY POLICY IN ORDER TO COMMUNICATE ITS PRIVACY
  POLICIES TO EVERY USER (EACH <b>“YOU”, “YOUR”</b> OR <b>“USER”</b>), INCLUDING GENERAL BROWSER USERS (EACH A
  <b>“BROWSER”</b>), FAN SUBSCRIBER USERS (EACH A <b>“SUBSCRIBER”</b>) AND CELEBRITY USERS (EACH A
  <b>“CELEBRITY”</b>). IN ADDITION TO COMPLYING WITH THIS PRIVACY POLICY, THE TERMS OF USE AND ANY OTHER AGREEMENT
  YOU HAVE WITH CELEBVIDY, YOU AGREE TO COMPLY WITH ANY AND ALL APPLICABLE LAWS WITH RESPECT TO YOUR USE OF THE
  APPLICATION. </p>

<p>By using the Application, each Browser, Subscriber and Celebrity is deemed to consent to Our privacy practices
  set forth in the Privacy Policy as amended from time to time. If You do not consent to these privacy practices,
  do not use the Application or upload, access or download any content from the Application. As the Application
  changes or due to other circumstances, CELEBVIDY may amend this Privacy Policy from time to time by posting the
  changed Privacy Policy to the Application. The amendments will be effective immediately upon posting the changes
  or at the date specified in such amendment. By using the Application after any amendment, You agree to be bound
  by the amendments. You should review the Privacy Policy from time to time to ensure that Your use is in
  compliance and You agree to the terms. IF YOU DO NOT AGREE TO ANY AMENDMENT TO THIS PRIVACY POLICY, YOU SHOULD
  IMMEDIATELY CEASE USE OF THE APPLICATION AND TERMINATE YOUR ACCOUNT, AS APPLICABLE.</p>
<b>Types of Information Collected</b>

<p>a. <b>Information Collected from Subscriber Users.</b> If You register as a Subscriber or otherwise access,
  download
  or purchase any of the Application’s Services, then You may provide various information to CELEBVIDY, including
  personal identifying information, that We store (“Subscriber Information”). If You communicate with CELEBVIDY by
  e-mail, post or upload content or information to the Application, or otherwise complete any of Our online forms,
  any information provided in such communication will be collected by CELEBVIDY as Subscriber Information.
  Subscriber Information may consist, without limitation, of the following types of information:</p>

<p><b>Contact Data.</b> Contact Data includes Your name (if provided) and e-mail address. We use Contact Data to
  send
  Subscribers information about Our company and its Application or in response to products and services offered on
  the Application requested by Subscribers. As a Subscriber, You consent to receive communications from CELEBVIDY
  electronically, but have the ability to opt-out of receiving future e-mails about Our company and other
  Application products or services. To be removed from receiving any mailings, You may contact Our customer
  service department at legal@celebvidy.com. Regardless of any opt-out request by You, We may communicate with any
  Subscriber by e-mail if such e-mail communication is sent for the purpose of protecting the interests of the
  Subscriber or to provide the Subscriber with any notification or disclosure that may be required as a result of
  Your purchase of products or services, under applicable law or by Our policies. CELEBVIDY will communicate with
  each Subscriber by e-mail or posting notices on the Application. As a Subscriber, You agree that all
  communications, disclosures and notices sent to You by e-mail or through the Application shall satisfy any
  requirement that notice be provided in writing.</p>

<p><b>Transaction and Demographic Data.</b> We collect transaction information about Your purchases and inquiries
  to fulfill orders or for Our general business needs. We also may collect general demographic or preference data
  regarding Your interests, goals or needs to understand who You are and what products and services may interest
  You or meet Your needs. Account Password. In order to access, use and download certain portions of the
  Application, each Subscriber will be required to have a Subscriber Account which will be created with an e-mail
  address and password.</p>

<p><b>Personal Message Content.</b> In the event that a Subscriber purchases a celebrity video through the
  Application (each a “Video”), the Subscriber will provide CELEBVIDY the first name of the person to whom the
  video will be addressed (if desired) and Subscriber’s personal message or greeting to such person to be stated
  in the Video by 812505v1 (May 2014) 1 Privacy Policy the Celebrity User (the “Personal Message Content”). The
  Personal Message Content may, but is not required to, be reviewed by CELEBVIDY, and if it meets CELEBVIDY’s
  Terms of Use and other guidelines, will be shared with the Celebrity User in order to process the transaction
  and create the video</p>

<p>b.<b>Information Collected from Celebrity Users.</b> If You register as a Celebrity or otherwise access,
  download or purchase any of the Application’s Services, You will be required to register as a Celebrity, agree
  to a Celebrity User Agreement, and provide CELEBVIDY certain identifying information to verify Your identity
  (collectively, “Celebrity Information”). If a Celebrity communicates with CELEBVIDY by e-mail, posts or uploads
  content or information to the Application, or otherwise completes online forms, any information provided in such
  communication will be collected by CELEBVIDY as Celebrity Information. </p>

<p>Celebrity Information may consist of the following types of information:</p>

<p><b> Contact Data.</b> Contact Data includes the name, phone number (if collected), e-mail address and mailing
  address of the Celebrity, as well as the name or names of contact persons for the Celebrity. We use Contact Data
  to send Celebrities information about Our company and Application or in response to the products or services
  provided to or requested or used by Celebrities. As a Celebrity, You consent to receive communications from
  CELEBVIDY electronically, but have the ability to opt-out of receiving future e-mails about Our company and
  other products and services. To be removed from receiving any promotional mailings, You may contact Our customer
  service department at legal@celebvidy.com. Regardless of any opt-out request by You, We may communicate with
  each Celebrity by e-mail if such e-mail communication is sent for the purpose of protecting the interests of the
  Celebrity or to provide the Celebrity with any notification or disclosure that may be required as a result of
  Your request for products or services, under applicable law or by Our policies. CELEBVIDY will communicate with
  each Celebrity by e-mail or posting notices on the Application. As a Celebrity, You agree that all
  communications, disclosures and notices sent to You by e-mail or through the Application shall satisfy any
  requirement that notice be provided in writing.</p>

<p><b>Transaction and Demographic Data.</b> We collect transaction information about Your purchases and inquiries
  to fulfill orders or for Our general business needs. We also may collect general demographic, biographical or
  preference data regarding Your interests, goals or needs to understand who You are and what products and
  services may interest You or meet Your needs.</p>

<p><b>Account Password.</b> In order to access, use and download certain portions of the Application, each
  Celebrity will be required to have a Celebrity Account which will be created with an e-mail address and
  password.</p>

<p><b>Recorded Videos.,/ In response to purchases of Celebrity Videos on or through the Application, Celebrity
  Users will record videos containing the Subscriber’s requested Personal Message Content and submit those Videos
  to CELEBVIDY for review (if CELEBVIDY chooses to review the Videos in its sole discretion), use and delivery to
  the Subscriber in accordance with CELEBVIDY’s Terms of Use and business practices.</b>

<p>c. <b>Financial Transaction Data Only Provided to Third-Party Payment Processors.</b> CELEBVIDY does not
  collect, process or retain any financial or credit card information relative to the processing of payments due
  from Subscriber Users. Rather, all such information is collected, processed and retained by third-party payment
  processing companies and is subject to their applicable privacy policies and other terms.</p>

<p>d.<b> Traffic and Device Data Collected from All Users.</b> We may track and collect the following general and
  non-personal information when You visit Our Application including, without limitation, Your: (i) IP address,
  mobile device ID or other persistent identifier; (ii) referrer information about how You visited Our Application
  (e.g., how You got to the Application – was it by a Google® search, by direct navigation, etc.) and how You used
  the Application (e.g., time of visit, areas of the Application that You visited); (iii) Your connection speed
  and type; (iv) type and version of Your web browser or mobile device; and (v) Your operating system and other
  system parameters and machine configuration (collectively, “Traffic Data”). Traffic Data is information that
  does not, standing alone, personally identify You but is helpful for marketing purposes or for improving Your
  experience on the Application. We use Traffic Data to collect information at an aggregate level about the
  visiting and use of the Application and to make the use of the Application more enjoyable to Our Users. We may
  combine Traffic Data with personally identifiable information we obtain from You directly through the
  Application or otherwise, including from third parties.</p>

<p>e. <b>Use of Cookies and Web Beacons.</b> CELEBVIDY requires the use of cookies. Cookies are small text files a
  website can use to recognize a repeat visitor to the website. We use cookies for various reasons. Cookies enable
  Us to provide You with a better experience by allowing Us to understand what areas of the Application are of
  interest to 812505v1 (May 2014) 2 Privacy Policy Users. These cookies do not track personal information. If You
  do not want CELEBVIDY to deploy cookies in Your browser, You can set Your browser to reject cookies or to notify
  You when a website tries to put a cookie in Your browser software. If You choose to disable cookies in Your
  browser, You can still access most of the Application; however, Your ability to use some of the Application may
  be affected. In addition to cookies, CELEBVIDY may use web beacons on the Application or communications from
  time to time to monitor the number of Users who visit the Application, determine how often a message is viewed,
  to deliver a cookie to the web browser of a visitor or User and for other purposes. “Web beacons” or clear .gifs
  are small pieces of code placed on a web page to monitor the behavior and collect data about the visitors and
  Users viewing a website. </p>
<b>Accounts and Passwords</b>

<p>When You register as a Subscriber or Celebrity, You will be required to provide Us an e-mail address as Your
  User name and a password. With a Subscriber account, You will be able to request, purchase and view celebrity
  Videos or other products or services available on or through the Application and change other account
  information. With a Celebrity account, You will be able to add or modify the inventory of Videos offered for
  sale on the Application in accordance with the Terms of Use and other Celebvidy Guidelines, establish the price
  of those Videos, record and submit videos purchased by Subscribers and change other account information. You are
  responsible for maintaining the confidentiality of Your User name and password. You shall be responsible for all
  uses of Your account and password, whether or not authorized by You. You agree to immediately notify Us of any
  unauthorized use of Your account. In such an event, You will need to provide Us a new e-mail address and/or
  password. You may access or correct Your account information that We maintain by logging into Your account on
  the Application or contacting customer service at legal@celebvidy.com. </p>
<b>Confidentiality, Security and Updating of Subscriber Information and Celebrity Information</b>

<p>Except as otherwise provided in this Privacy Policy (including Section 4 and Section 5 below related to use of
  third parties to provide You the Application and its products and services), We will keep all of Your
  information that personally identifies You as private and will not share it with third parties, unless such
  disclosure is necessary to: (a) comply with a law or based upon the good faith belief that disclosure is
  necessary to comply with a law; (b) protect Our rights or property; (c) enforce Our Terms of Use, this Privacy
  Policy, any other agreement that CELEBVIDY has with You, or any of Our other policies and guidelines; (d) when
  specifically authorized by You; or (e) in connection with the sale of a portion or all of Our business or
  assets. You may update or revise Your personally identifying information by contacting Us at legal@celebvidy.com
  or through Your account. Personal identifying information does not include information that has been aggregated
  or made anonymous such that it can no longer be reasonably associated with a specific person. CELEBVIDY will use
  a variety of commercially reasonable security technologies to help protect Your personally identifying
  information from unauthorized access, use or disclosure. However, the use of such security technologies by
  CELEBVIDY is not, and shall not be considered to be, any type of guarantee or warranty by CELEBVIDY that the
  personally identifying information of Users of this Application will not be accessed by third parties, or that
  CELEBVIDY will use all available security technologies to prevent unauthorized access to, use or disclosure of
  Your personally identifying information. </p>
<b>Limited Sharing of Information</b>

<p>We share Your Subscriber Information, Celebrity Information and Traffic Data with other Users and Our
  affiliates, suppliers, vendors and/or their agents and employees as necessary or convenient for the provision of
  the Application and its products and services to You. Specifically, We share such information and data: (i) with
  third parties that assist CELEBVIDY in evaluating Your eligibility for, the provision of, or the administration
  and management of the Application and its products and services; (ii) with third parties that assist CELEBVIDY
  in providing the products and services that You have requested (e.g., third party payment processors); (iii)
  with third parties that provide support, marketing or advertising services to or on behalf of CELEBVIDY; and
  (iv) as otherwise permitted by law from time to time. In the event that all or substantially all of Our assets
  are sold or transferred to another party, or another transaction occurs in which Your personally identifiable
  information is one of the business assets transferred, all personally identifiable information that has been
  collected and saved may be one of the business assets We transfer. While CELEBVIDY uses commercially reasonable
  efforts to safeguard Your Subscriber Information and Celebrity Information transmitted to third parties,
  CELEBVIDY does not warrant that Your Subscriber Information or Celebrity Information will be transported without
  unauthorized interception or modification or that Your Subscriber Information or Celebrity Information will not
  be accessed or compromised by unauthorized third parties. We may share aggregate or de-identified information,
  such as demographics and usage statistics, with advertisers, sponsors or other organizations or parties that we
  partner with from time to time. When this type of information is shared, the other parties do not have access to
  Your personally identifiable information.</p>
<b>Sharing of Video Message Data and Celebrity Videos – Available to the Public</b>

<p>Any and all Personal Message Content provided to CELEBVIDY may (in CELEBVIDY’S sole discretion) be reviewed by
  CELEBVIDY personnel or agents and then provided to the listed Celebrity User if it meets CELEBVIDY’s Terms of
  Use and other guidelines. The Video (which may be reviewed by CELEBVIDY and its personnel or agents in its sole
  discretion) created by the Celebrity User will then be uploaded through the Application to CELEBVIDY’s
  YouTube.com account page or other third party file share account page and submitted to CELEBVIDY for review by
  CELEBVIDY’s personnel or agents. If it meets CELEBVIDY’s Terms of Use and other guidelines, then the link to the
  Video will be sent to the Subscriber User who purchased the video for personal use or for forwarding to the
  intended recipient(s) for personal use. The Subscriber User or its recipients (or any of their recipients) will
  view the Video on CELEBVIDY’s YouTube.com account page or other third party file share account page. The link to
  the Video can be forwarded by the Subscriber User or its recipients and anyone that receives (or otherwise
  locates a copy of) the link to or a downloaded version of the Video will be able to view the Video. Accordingly,
  neither the Subscriber User nor the Celebrity User will have any expectation of privacy with respect to the
  Personal Message Content or the Video itself and understands that the Video will be publicly available to anyone
  that has access to the link or a downloaded copy of the Video or is otherwise able to locate the Video.
  Accordingly, the Subscriber User is encouraged not to provide personal identifying information about itself or
  another person in the Personal Message Data. </p>
<b>Social Media</b>

<p>The Application may make third-party social media features (Twitter, Facebook, etc.) available to its Users. We
  cannot ensure the security of any information You choose to make public on social media, whether through the
  Application or otherwise. Also, We cannot ensure that parties who have access to such publicly available information
  will respect Your privacy. Please exercise caution when deciding to disclose personal information in these areas.</p>

<p><b>Collection of Your Information by Third-Party Websites or Advertisers</b> The Application contains links to other
  websites. For example, the Celebrity Videos will be uploaded to, shared and viewed via YouTube.com or another third
  party video file share site and You may be sent to another website or provider page for payment processing. We are not
  responsible for the privacy practices or the content of such websites. We also have third-party advertisers that may
  appear on the Application. These third-party advertisers may use cookies or similar technologies to help present the
  advertisements to You or to help measure the effectiveness of their advertisements. The use of such technologies is
  subject to the privacy policies of the third-party advertisers and is not covered by this Privacy Policy. As a result,
  if You respond to any such third-party advertisers by clicking on the advertisements and/or visiting their websites or
  the websites of any other third party, be sure You evaluate their privacy policies before providing them any of Your
  information.</p>
<b>Updates and Changes to Privacy Policy</b>

<p>We reserve the right, at any time and without notice, to add to, change, update or modify this Privacy Policy by
  posting such change, update or modification on the Application. Any such change, update or modification will be
  effective immediately upon posting on the Application or at the date specified in such amendment.</p>
<b>Eligibility; Compliance with Children Privacy Issues</b>

<p>CELEBVIDY, as a general audience site, respects the privacy of parents and children and is committed to complying
  with the Children's Online Privacy Protection Act (COPPA). By using and/or visiting the Application, You are
  representing and warranting to CELEBVIDY that (i) You are fully able and competent to enter into and abide by this
  Privacy Policy and (ii) You are over the age of 13. By using the Application and providing a valid credit card, we
  presume You are over the age of 13. IF YOU ARE UNDER THE AGE OF 13, DO NOT USE CELEBVIDY’ SERVICES AND/OR VISIT THE
  WEBSITE. CELEBVIDY does not knowingly collect or maintain any personally identifiable information from children under
  the age of 13. If CELEBVIDY is informed or becomes aware of anyone under the age of 13 using the Application without
  their parent or legal guardian’s verified consent, his or her account and password will be cancelled and all of his or
  her information will be deleted from the Application as soon as practical.</p>
<b>Your California Privacy Rights; How to Contact Us</b>

<p>California Civil Code Section 1798.83 permits Our Users who are California residents to request certain information
  regarding Our disclosure of personal information to third parties for their direct marketing purposes. To make such a
  request, please send an email to legal@celebvidy.com or the mailing address set forth on celebvidy.com. Should You
  have any other questions or concerns about this Privacy Policy, please send Us an e-mail or contact us at the
  addresses set forth above in this Section.</p>


</div>
</div>
<div class="copyrightMob">2015 Celebvidy. All Rights Reserverd.</div>
</div>
<script>
    $("#head_div").removeClass('bg-image4');
    $("#head_div").addClass('bg-image3');

</script>