<div class="warrper">
<div class="terms_sec roundd-borde">
<div class="term_cont">
<div class="term_title">TERMS AND CONDITIONS OF USE</div>

<b>Effective Date: May 4, 2014</b>

<p>THIS TERMS AND CONDITIONS OF USE AGREEMENT (“AGREEMENT”) DEFINES WHAT YOU ARE LEGALLY ALLOWED TO DO WITH THE
  MOBILE APPLICATION AND CELEBVIDY.COM WEBSITE AND THE PRODUCTS AND SERVICES OFFERED ON OR THROUGH THE MOBILE
  APPLICATION AND WEBSITE (COLLECTIVELY REFERRED TO HEREIN AS THE “APPLICATION”) OWNED, PUBLISHED AND MAINTAINED
  BY CELEBVIDY LLC, A NEVADA LIMITED LIABILITY COMPANY (CELEBVIDY,” “US,” “WE,” OR “OUR”). </p>
<h6>THIS AGREEMENT CONTAINS A BINDING ARBITRATION PROVISION WHICH MAY BE ENFORCED BY THE PARTIES.</h6>

<p>The Mobile Application may be available directly from CELEBVIDY or through marketplaces that distribute Android
  OS, Apple iOS, or Windows 8 applications (each a “Marketplace”), such as the Apple App Store, Google Play, the
  Windows 8 App Store, the Amazon App Store, or any other equivalent or successor marketplace, that may have
  additional terms, conditions, or usage rules that govern your use of the Mobile Application if you download or
  install the application through such Marketplace (the “Marketplace Terms”). </p>

<p>
  <b>Description of Application and Acceptance of Agreement.</b> The Application offers both fan subscriber users
  (each a
  “Subscriber” and collectively the “Subscribers”) and celebrity users (each “Celebrities”) (each Subscriber or
  Celebrity user sometimes individually referred to herein as a “User” or collectively as “Users”) to create a
  User account in order to use certain components of the Application. Subscribers may purchase a personalized
  message video from a Celebrity that has available videos (each a “Video”) for purchase through the Application.
  The Subscriber will provide the Celebrity (via the Application) with the content of the personalized message in
  accordance with this Agreement and CELEBVIDY’s then current guidelines (the “Personal Message Content”).
  CELEBVIDY and the Celebrity do not guarantee that the Video will contain the exact wording or message of the
  Personal Message Content. The Celebrity will then record the purchased personalized Video for the fee stated on
  the Application and will submit the Video to CELEBVIDY. Upon receipt of the Video from the Celebrity and payment
  from the Subscriber, CELEBVIDY will then deliver the link to view the Video to the Subscriber. The Subscriber is
  permitted to use the Video for personal non-commercial purposes in accordance with this Agreement and
  CELEBVIDY’s then existing guidelines posted on the Application. No commercial endorsements will be permitted as
  part of the Personal Message Content. The Celebrity is permitted to use the Application solely to create the
  Videos requested from CELEBVIDY and containing the Personal Message Content. The Application and all of its
  content, applications, products and services (including the Videos) offered to Subscribers, Celebrities or
  others from time to time are referred to herein as the “Services”).

  Before becoming a registered Subscriber or Celebrity, you must read and accept all of the terms and conditions
  contained herein and, if a Celebrity User, any terms and conditions related to solely to Celebrities (the
  “Celebrity User Agreement”) which are required to be accepted as part of the User account registration process,
  which Celebrity User Agreement is incorporated herein by reference for Celebrity Users. Each Subscriber or
  Celebrity that uses the Services in any way (a) must be thirteen (13) years of age or older and otherwise
  capable of entering into a legally binding contract, and (b) hereby agrees to comply with these terms and
  conditions, the Celebrity User Agreement for Celebrity Users, and all other guidelines, rules or policies
  adopted by CELEBVIDY and posted on the Application from time to time (including the Privacy Policy), which
  terms, guidelines, rules and policies are incorporated as part of this Agreement completely by this reference.
  Each use of the Services ordered or received by you in any way constitutes your acceptance of this Agreement
  (including any posted guidelines, rules, policies or codes of conduct), which may be revised by CELEBVIDY from
  time to time. </p>

<p><b>Scope of License.</b> Provided that you remain in compliance with all terms and conditions hereof, CELEBVIDY
  grants to
  you a revocable, non-exclusive, non-transferable, non-sublicensable license to use the applicable Services
  offered
  from time to time via its Application on a personal computer, tablet, or mobile device, including but not
  limited
  to a iPad, iPod Touch, iPhone, Android OS device, Windows Phone 8 device or any other personal electronics
  device
  (each a “Device”) that you own or control and in compliance with this Agreement and any applicable Marketplace
  Terms. Subscribers are only authorized to use the Services for their own personal purposes and not for any
  commercial or resale purposes. Specifically, Subscribers are authorized to use the Services to purchase, access
  and view Videos purchased by the Subscriber and, for no compensation or remuneration, to forward the Videos to
  recipient(s) to access and view the Videos for their personal non-commercial use and not for resale. Celebrities
  may only use the Services for their own commercial purposes to offer Videos for sale to Subscribers and to
  record
  and submit purchased Videos to CELEBVIDY for delivery to Subscribers. All other rights in and to the Application
  and Services, including, without limitation, all CELEBVIDY Intellectual Property (defined below) and any
  goodwill
  associated therewith, are retained by CELEBVIDY. You agree that CELEBVIDY is not required to engage in any
  marketing of any kind in connection with any Videos that are being offered on the Services. Any applicable
  Marketplace is a third party beneficiary of this license and the Marketplace or its parent or subsidiaries may
  enforce this license, up to and including removal of the Mobile Application from the Marketplace and any Device
  for any violation of this license or the Marketplace Terms. You may reinstall the Mobile Application on
  Device(s)
  that you own and control as permitted by Marketplace Terms.</p>


<p><b>Restrictions on Use.</b> You may ONLY use the Services to create a Subscriber or Celebrity Account, as
  applicable,
  in order to access, use and purchase the Services. This license does not allow you to use the Application on any
  Device(s) that you do not own or control, and you may not distribute or make the Application available over a
  network where it could be used by multiple Devices at the same time. You may NOT: (a) modify, disassemble,
  reverse engineer, decompile or make any attempt in any fashion to obtain the source code for the Services (or
  attempt to do any of the foregoing); (b) attempt to access or use portions of the Services, or its related
  systems or networks, for which you have not acquired a license, or (c) except as specifically authorized herein,
  copy, publish, distribute, license, sublicense or transfer any portion of the Services (including the Videos).
  No Subscriber or Celebrity may sell or resell the Services (including the Videos) to any person or make any
  other commercial use of the Services other than for its own personal non-commercial purposes for Subscribers or
  own personal commercial purposes for Celebrities. No Subscriber or Celebrity may use any portion of the Services
  for rental or in the operation of a service bureau, including without limitation, providing third party hosting,
  or third party application integration or application provider services. No Subscriber or Celebrity may delete
  or remove any copyright notices, trademark notices or other security mechanisms or devices contained in or on
  the Services, including the Videos as applicable. The terms of this Agreement will govern any upgrades provided
  by CELEBVIDY that replace and/or supplement the Application, unless such upgrade is accompanied by a separate
  license in which case the terms of that license will govern.</p>
<b>Your Responsibility for Uploaded Material.</b>

<p>(a) Your Responsibility for Uploaded Material. By uploading any information or material to the Application
  (collectively any information or material you upload to the Application, including, without limitation, the
  Personal Message Content uploaded by Subscribers and the Videos uploaded by Celebrities (exclusive of the
  Personal Message Content which is included in the Videos at the request of the Subscriber), referred to herein
  as the “Uploaded Material”), you are representing to CELEBVIDY that you have the right to use that Uploaded
  Material in the manner expected when it is uploaded and that such Uploaded Material is accurate, complete, not
  misleading and is only being uploaded for lawful purposes. You may not use the Services (or any components of
  such Services) to display or otherwise use any material, content, software or information that contains any of
  the following, in each case as determined by CELEBVIDY in its sole discretion: (a) material that violates local,
  state, federal or international laws; (b) any material that violates or infringes in any way the rights,
  including rights of publicity, moral rights, rights of privacy, copyrights, trademark rights or other
  intellectual property rights, of CELEBVIDY or any third person or party; (c) hate propaganda; (d) fraudulent
  material or fraudulent activity; (e) any material that is threatening, abusive, harassing, defamatory, invasive
  of privacy or publicity rights, vulgar, obscene, profane, indecent, or otherwise objectionable or inappropriate;
  (f) any material that promotes, encourages, or provides instructional information about illegal activities; (g)
  any software, information, or other material that contains a virus, "Trojan Horse," or corrupted data; (h)
  material that advertises or promotes any website, business or entity which offers or provides services or
  products that are similar to or competitive with the business of CELEBVIDY or the Application; or (i) any other
  material that CELEBVIDY finds objectionable. Any profanity that is contained in Personal Message Content will be
  ignored and not recorded in the Video. </p>

<p>(b) CELEBVIDY’S Disclaimer and Rights Regarding Uploaded Material. CELEBVIDY is not required to, but may review
  the Uploaded Material, and is not responsible for the content, accuracy, completeness, quality, or consequences
  of the uploading, use or license of any Uploaded Material. However, CELEBVIDY reserves the right, without prior
  notice to or authorization from you, to remove or reject Uploaded Material that it determines, in its sole
  discretion, violates or may violate this Agreement, the rights of any person or entity, any of CELEBVIDY’s
  policies, or is otherwise unacceptable to CELEBVIDY for any reason.</p>

<p>(c) Grant of Limited License to Use Uploaded Material. By uploading Uploaded Material to the Services, you
  hereby grant to CELEBVIDY a worldwide, royalty-free, perpetual, non-exclusive, sublicensable license to use,
  copy, reproduce, distribute, publish, download, publicly perform, publicly display, modify, adapt, translate,
  archive, store, and create derivative works from Uploaded Material in any form, format, or medium of any kind
  now known or later developed in order for CELEBVIDY to administer and provide the Services to Celebrities,
  Subscribers, and other parties. The license you provide to CELEBVIDY is sublicensable so that CELEBVIDY is able
  to use its licensees, affiliates, and partners to provide the Services. By uploading the Personal Message
  Content, each Subscriber hereby grants to the listed Celebrity User a worldwide, royalty-free, perpetual,
  non-exclusive, non-sublicensable license to use, publicly perform, publicly display, adapt and translate the
  Personal Message Content in order to record, develop and upload the Video to the Application for use by
  CELEBVIDY and Subscriber. By uploading the Video, each Celebrity hereby grants to the applicable Subscriber User
  a worldwide, royalty-free, perpetual, non-exclusive, non-sublicensable license to access, view, download and
  share the Video with Subscriber’s recipients and anyone that may receive such Video from Subscriber, its
  recipients or CELEBVIDY. </p>

<p><b>CELEBVIDY’s Intellectual Property Rights and Use.</b> You agree and understand that the Application, the
  CELEBVIDY
  trade name and any logos, trademarks and service marks associated with the Application (collectively the
  “CELEBVIDY Marks”), the site name and all graphic designs, style templates, icons, HTML code, programming code,
  and other graphic elements incorporated therein; and all right, title and interest in and to any other
  intellectual property or proprietary rights, including without limitation, all inventions, copyrights, trade
  secrets, patents, and know-how relating to or comprising the design, function, or operation of the Services,
  including the Application (collectively, the “CELEBVIDY Intellectual Property”), shall be owned exclusively by
  CELEBVIDY. CELEBVIDY owns a copyright in the selection, coordination, arrangement and enhancement of all content
  included on the Application, as well as any content on the Application that is original to CELEBVIDY. You shall
  have no right, title or interest in or to the CELEBVIDY Intellectual Property and shall have no right to use
  such CELEBVIDY Intellectual Property for any purpose, except as expressly and specifically granted to you by the
  limited license provided in this Agreement (collectively, the “Licensed CELEBVIDY IP”) and then only during the
  Term of this Agreement. You may not use the CELEBVIDY Marks in any corporate name or in any domain name.</p>

<p><b>Privacy Policy; Limited Authorization to Use and Disclose Your Information.</b> You hereby acknowledge that
  CELEBVIDY intends to and will collect, retain, and disclose information and data collected from you in
  accordance with CELEBVIDY’s Privacy Policy located on its Application from time to time (the “Privacy Policy”).
  You hereby consent, as a condition of your use of the Services, to the collection, use, processing and transfer
  of your information as described in this Agreement and the Privacy Policy. While CELEBVIDY uses commercially
  reasonable efforts to safeguard your data transmitted while using the Services, CELEBVIDY does not warrant that
  the data will be transported without unauthorized interception or modification or that the data will not be
  accessed or compromised by unauthorized third parties.</p>

<p><b>Your Responsibility for Account Name and Password.</b> You acknowledge and agree that you will be responsible for
  each
  and every access or use of CELEBVIDY’s Application with your Subscriber or Celebrity account and password, and that
  CELEBVIDY is authorized to accept your Subscriber or Celebrity account and password as conclusive evidence that you
  wish to use the Services, including, without limitation, the purchase of Services, uploading of any Uploaded Material
  onto the Application or downloading of any Uploaded Material or other content from the Application. CELEBVIDY shall
  have no liability or responsibility to monitor the use of your Subscriber or Celebrity account and password. You
  hereby certify that all of the registration data provided by you is accurate and complete, and you agree to notify
  CELEBVIDY regarding any changes in your data.</p>

<p><b>Payments; Taxes.</b> You agree to make all payments that are required for your use of the Application, Services or
  the
  maintenance of your account and User Information (as applicable) as further defined in the payment terms applicable to
  any payments, whether such terms are in the Agreement, any other agreement between you and CELEBVIDY or otherwise
  incorporated into the Application. All cost related to the use of your Devices or the Services, including any costs to
  send, receive, record or view Videos are at the sole cost and expense of the Users. All payments are non-refundable
  unless otherwise stated or required by Marketplace Terms. Without limiting the prior sentence, a Subscriber is not
  entitled to receive any refund once a Video has been delivered to the Subscriber. In the event that CELEBVIDY is
  unable to provide the Video recorded by the requested Celebrity, then CELEBVIDY will issue Subscriber a credit to use
  for purchase of a replacement Video or, in its discretion, issue Subscriber a refund. By providing a credit card or
  other payment method, you agree that CELEBVIDY, or its designee, may charge or debit such card or payment method for
  any payment(s) owed by you to CELEBVIDY under the Agreement. CELEBVIDY reserves the right to terminate your access and
  use of the Application or Services, including the termination and removal of your account for late or non-payment of
  any amounts owed under the Agreement. You agree to pay all sales taxes, use taxes, value added taxes, duties, or any
  other tax imposed by any jurisdiction as a result of your use of the Application or Services, or any other payments
  pursuant to this Agreement, including pursuant to the Celebrity User Agreement. </p>

<p><b>No Warranties.</b> THE SERVICES (INCLUDING THE VIDEOS) ARE PROVIDED ON AN “AS IS,” “AS AVAILABLE” BASIS WITHOUT
  WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, THOSE OF TITLE, MERCHANTABILITY, FITNESS
  FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT, INCLUDING NON-INFRINGEMENT OF COPYRIGHTS AND OTHER INTELLECTUAL PROPERTY
  RIGHTS OF OTHERS OR ANY WARRANTY ARISING FROM A COURSE OF DEALING, USAGE OR TRADE PRACTICE. CELEBVIDY DOES NOT
  REPRESENT OR WARRANT THAT THE SERVICES WILL MEET YOUR REQUIREMENTS OR THAT THEIR USE WILL BE UNINTERRUPTED OR ERROR
  FREE. YOU EXPRESSLY ACKNOWLEDGE THAT THE SERVICES ARE MOBILE AND COMPUTER NETWORK-BASED SERVICES, WHICH MAY BE SUBJECT
  TO UNAVAILABILITY, OUTAGES, INTERRUPTIONS, SECURITY BREACHES, ATTACKS BY THIRD PARTIES AND DELAY OCCURRENCES. YOU
  SHALL BEAR THE ENTIRE RISK AS TO THE QUALITY OF THE SERVICES (INCLUDING THE VIDEOS) OR THAT THEY WILL SATISFY YOUR
  NEEDS. </p>

<p><b>Limitation on Liability; Release.</b> CELEBVIDY AND ITS OWNERS, MANAGERS, OFFICERS, EMPLOYEES, AGENTS, LICENSEES
  AND
  AFFILIATES (COLLECTIVELY THE “CELEBVIDY PARTIES”) SHALL NOT BE LIABLE TO YOU OR ANY OTHER PERSON FOR ANY INDIRECT,
  INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES WHATSOEVER THAT YOU OR ANY OTHER PERSON SUFFERS OR INCURS, INCLUDING BUT
  NOT LIMITED TO LOSS OF REVENUE OR PROFIT, LOST OR DAMAGED DATA OR OTHER COMMERCIAL OR ECONOMIC LOSS, EVEN IF THE
  CELEBVIDY PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR THEY ARE FORESEEABLE. THE MAXIMUM AGGREGATE
  LIABILITY THAT ALL OF THE CELEBVIDY PARTIES SHALL HAVE TO SUBSCRIBERS UNDER THIS AGREEMENT SHALL NOT EXCEED THE FEES
  ACTUALLY PAID BY SUCH SUBSCRIBER TO CELEBVIDY FOR THE SERVICES AT ISSUE. THE MAXIMUM AGGREGATE LIABILITY THAT ALL OF
  THE CELEBVIDY PARTIES SHALL HAVE TO ANY CELEBRITY UNDER THIS AGREEMENT SHALL NOT EXCEED THE LESSER OF (I) THE FEES
  ACTUALLY RECEIVED BY CELEBVIDY FROM SUBSCRIBER FOR THE VIDEO AT ISSUE, IF APPLICABLE, (II) THE FEES ACTUALLY PAID BY
  CELEBVIDY TO CELEBRITY FOR THE VIDEO AT ISSUE, IF APPLICABLE, OR (III) $10,000. THE LIMITATIONS ON LIABILITY UNDER
  THIS SECTION WILL SURVIVE TERMINATION OF THIS AGREEMENT FOR ANY REASON. In jurisdictions which do not allow some or
  all of the above limitations, liability shall be limited to the greatest extent permitted by applicable law.</p>

<p><b>Celebvidy Disclaimer of Responsibility; Release.</b> You agree that CELEBVIDY is merely an online service provider
  and
  forum for Celebrities to offer Videos for sale and for Subscribers to purchase, access and view the Videos.
  Accordingly, CELEBVIDY makes no representations or warranties to any Celebrity or Subscriber related to the Personal
  Message Content or Videos. You acknowledge that CELEBVIDY has no control over the use or misuse of Personal Message
  Content or Videos by a Subscriber or Celebrity or any other recipient of the Personal Message Content or Video.
  Accordingly, the Users alone are responsible for the content of any Videos, including the Personal Message Content,
  and for resolution of any disputes between or among Users and other third parties. CELEBVIDY is not liable for any
  loss or damage resulting from disputes, communications, or interactions between Users and/or other third parties. </p>

<p>California Residents. If you are a resident of California, you waive the provisions of California Civil Code Section
  1542, which says: “A general release does not extend to claims which the creditor does not know or suspect to exist in
  his or her favor at the time of executing the release, which if known by him or her must have materially affected his
  or her settlement with the debtor.</p>

<p><b>Your Representations and Warranties.</b> You hereby represent and warrant that: (a) you are 13 years of age or
  older, (b)
  this Agreement constitutes a legal, valid and binding obligation, enforceable against you in accordance with its
  terms, (c) all information and Uploaded Material you provide to CELEBVIDY is true, accurate and complete in all
  material respects and (d) you are authorized and licensed to provide CELEBVIDY such Uploaded Material. Further, you
  hereby represent and warrant that any and all of your use of the Services will be in compliance with this Agreement
  and any additional guidelines and policies implemented by CELEBVIDY from time to time and posted on its Application
  and all laws, policies, guidelines, regulations, ordinances and rules applicable to you. Your representations and
  warranties under this Section will survive termination of this Agreement for any reason.</p>

<p><b>Indemnification.</b> You hereby agree to indemnify, defend and hold harmless the CELEBVIDY Parties from and
  against any
  and all causes of action, claims, costs, damages, losses and expenses, including, without limitation, reasonable
  attorneys’ fees, arising from or as a result of: (a) your breach of any representation, warranty, covenant or
  obligation in this Agreement, (b) any violation by you of any laws or regulations applicable to you or your use of the
  Services and (c) your purchase or use of the Services. Your indemnification obligations under this Section will
  survive termination of this Agreement for any reason.</p>
<b>Copyright and Intellectual Property Complaints.</b>

<p>(a) CELEBVIDY respects the intellectual property of others. It is CELEBVIDY’s policy to respond to claims of
  copyright and other intellectual property infringement. CELEBVIDY will promptly process and investigate notices of
  alleged infringement and will take appropriate actions under the Digital Millennium Copyright Act (“DMCA”) and other
  applicable intellectual property laws. Upon receipt of notices complying with the DMCA, CELEBVIDY may act
  expeditiously to remove or disable access to any content claimed to be infringing or claimed to be the subject of
  infringing activity and may act expeditiously to remove or disable access to any reference or link to material or
  activity that is claimed to be infringing. CELEBVIDY terminates access for Users who are repeat infringers. </p>

<p>(b) Notifying CELEBVIDY of Copyright Infringement: To give us notice of infringement, you must send a written
  communication to legal@celebvidy.com or the mailing address set forth on celebvidy.com that provides the information
  specified by the DMCA (http://www.copyright.gov/title17/92chap5.html#512). Note that you can be liable for damages
  (including costs and attorneys’ fees) if you materially misrepresent that any activity or material is infringing your
  copyright.</p>

<p>(c) Providing CELEBVIDY with Counter-Notification: If we remove or disable access to content in response to an
  infringement notice, we will make reasonable attempts to contact the owner or administrator of the affected content.
  If you feel that your material does not constitute infringement, you may provide us with a counter notification by
  written communication to legal@celebvidy.com or the mailing address set forth on celebvidy.com that provides all of
  the necessary information required by the DMCA (http://www.copyright.gov/title17/92chap5.html#512). Note that you can
  be liable for damages (including costs and attorneys’ fees) if you materially misrepresent that any activity or
  material is not infringing the copyrights of others. If you are uncertain whether an activity constitutes
  infringement, we recommend you contact an attorney.</p>

<p><b>No Donation or Tax Deduction.</b> EACH SUBSCRIBER HEREBY ACKNOWLEDGES AND AGREES THAT ANY PAYMENT BY SUBSCRIBER TO
  PURCHASE ANY VIDEO THROUGH THE SERVICES, EVEN IF THE CELEBRITY STATES THAT A PORTION OF THE PAYMENT WILL BE DONATED TO
  A NONPROFIT, DOES NOT CONSTITUTE A CHARITABLE CONTRIBUTION FOR TAX PURPOSES AND IS NOT TAX DEDUCTIBLE.</p>

<p><b>Links to Other Web Sites and Resources.</b> At certain places on the Application or through the Services, live
  “links” to other website addresses and resources can be accessed (e.g., YouTube.com or another third party video share
  file site to upload or view the Videos and stripe.com or another third party payment processor to process payment for
  the Videos). Such external websites contain information created, published, maintained or otherwise posted by
  institutions or organizations independent of CELEBVIDY. CELEBVIDY does not guarantee the accuracy, completeness,
  timeliness or quality of information available from other websites. Use of any information, products or services from
  other websites is voluntary, and reliance on it should be undertaken only after an independent review of its accuracy,
  completeness, timeliness and quality. CELEBVIDY shall not be liable, directly or indirectly, for any damage or loss
  caused, or alleged to be caused, by, or in connection with, the use of, or the reliance upon, any information,
  content, goods or services available on or through any third party websites, including resources linked to this
  Application. </p>

<p><b>Internet Software or Computer Viruses.</b> Internet software or transmission problems may produce inaccurate or
  incomplete copies of information contained on this Application. Computer viruses and other destructive computer code
  may also be inadvertently downloaded from this Application. CELEBVIDY shall not be responsible or liable for any
  software, computer viruses or other computer code that may adversely impact your use of your mobile device, computer
  equipment or other property on account of your access to, use of, or browsing on this Application or your downloading
  or accessing of any material as permitted by this Agreement. CELEBVIDY recommends that you install appropriate
  anti-virus or other protective software.</p>

<p><b>Term; Survival of Provisions.</b> The Agreement is effective until terminated by you or CELEBVIDY. Your rights
  under this
  Agreement will terminate automatically by: (a) written notice from CELEBVIDY; or (b) without notice from CELEBVIDY if
  you fail to comply with any term(s) of this license. CELEBVIDY reserves the right to ban any accounts which abuse the
  Application or its Services. You may terminate this Agreement by removing and destroying all copies of the Application
  from your Device(s) and terminating your User account. Upon termination of the license, you shall cease all use of the
  Application, and destroy all copies, full or partial, of the Application. Upon termination for any reason, you will
  immediately cease using the Services. None of the CELEBVIDY Parties has any duty to reimburse you for any fees paid
  for the Services prior to the date of termination. All disclaimers of warranties, limitations of liability,
  indemnification obligations, governing law and dispute resolution provisions, or any other provisions which by their
  nature would be deemed to survive, shall survive termination of this Agreement for any reason.</p>

<p><b>Force Majeure.</b> CELEBVIDY shall not be liable for failure to deliver or delay in performance where such failure
  to
  deliver or delay is due, in whole or in part, to any cause beyond CELEBVIDY’s reasonable control, including Celebrity
  Users late in delivery of Videos. All delivery times for Videos are estimates only. Further, CELEBVIDY will not have
  any liability for any loss caused by any interruption of telecommunications, utility, Internet hosting services or
  network provider services, software viruses, any software or technology designed to disrupt or delay the Services, act
  of God, strike or other labor shortage or disturbance, fire, accident, war, terrorist act or civil disturbance,
  failure of normal sources of supply, act of government or any other cause beyond the reasonable control of CELEBVIDY.
  In the event of such delay, the time for performance shall be extended by a period of time reasonably necessary to
  overcome the effect of the delay.

<p><b>Governing Law; Dispute Resolution; Attorney Fees.</b> This Agreement is deemed to have been entered into and the
  Services
  are deemed to have been provided in the State of Nevada, United States of America. Accordingly, interpretation and
  enforcement of this Agreement will be governed by the laws of the State of Nevada, United States of America (excluding
  its choice of law rules). Any dispute, controversy or claim arising out of or relating to this Agreement, or any
  breach or threatened breach of this Agreement, except as set forth below, shall be decided and settled by binding
  arbitration in accordance with Title 9 of the U.S. Code (United States Arbitration Act) and the Commercial Arbitration
  Rules of the American Arbitration Association then in effect, subject to the limitations and restrictions set forth
  below. The place of arbitration shall be Las Vegas, Nevada. Notice of a demand for arbitration shall be filed in
  writing with the other party to this Agreement and with the American Arbitration Association. Notice of such demand
  shall be made promptly after such claim or dispute arises and in no event may the demand for arbitration be made if
  institution of legal or equitable proceedings arising out of such claims or dispute would be barred by the applicable
  statute of limitations. The arbitrator(s) shall have the discretion to order a pre-hearing exchange of information by
  the parties, including, without limitation, production of requested documents, exchange of summaries of testimony of
  proposed witnesses, and examination by depositions of parties. In the event that the arbitrator(s) find that any
  provision of this Agreement is vague or ambiguous, the parties agree that the arbitrator(s) shall construe such
  provision in accordance with the intent of the parties as determined by the arbitrator(s); and the arbitrator(s) shall
  not disregard or eliminate any such provision. Notwithstanding any contrary provision contained herein, any party may
  in his, her or its sole discretion file an action with a court seeking equitable or injunctive relief to maintain the
  status quo until such time as the arbitration award is rendered or the controversy is otherwise resolved. Each of the
  parties further agrees that, in addition to all other remedies, the arbitrator(s) shall be empowered to enforce this
  Agreement by specific performance, injunction or other equitable remedy. If an injunction or other equitable remedy is
  granted, the injured party hereby waives any right to require a bond, and if such a bond is required by law and may
  not be waived, hereby consents to the lowest bond amount allowed by law. The parties agree and acknowledge that this
  Agreement has been made and entered into in the State of Nevada and consent to and waive any objection to the
  jurisdiction of and venue in any state or federal court located in the State of Texas. The award rendered by the
  arbitrator(s) may be entered and enforced in any court having competent jurisdiction. Nothing contained herein shall
  apply to any claims between the parties arising out of proceedings, actions or claims filed by third parties,
  including but not limited to the parties’ respective rights for indemnification or contribution. In addition to any
  other right or remedy provided to CELEBVIDY in this Agreement, if CELEBVIDY prevails against you, in whole or in part,
  in any action to enforce the provisions of this Agreement, whether for injunctive relief or damages or both, then in
  addition to all other damages or relief, CELEBVIDY shall be also entitled to recover from you the costs and expenses
  incurred in the successful pursuit of such action or portion thereof, including reasonable attorneys’ fees.</p>

<p><b>General Terms.</b> This Agreement constitutes the complete agreement between the parties with respect to your use
  of the
  Application and the Services. You acknowledge that no promises, representations, inducements, agreements or
  warranties, other than those set forth in this Agreement, have been made to induce you to execute this Agreement.
  CELEBVIDY MAY AMEND THIS AGREEMENT BY POSTING THE AMENDMENT TO THE APPLICATION. YOU MAY NOT AMEND THIS AGREEMENT
  EXCEPT WITH THE WRITTEN CONSENT OF CELEBVIDY. IF YOU DO NOT AGREE TO ANY AMENDMENT, YOUR SOLE REMEDY IS TO TERMINATE
  THIS AGREEMENT BY PROVIDING NOTICE TO CELEBVIDY. IF YOU DO NOT TERMINATE THIS AGREEMENT AND CONTINUE TO USE THE
  APPLICATION AND ITS SERVICES, THEN YOUR SILENCE WILL BE DEEMED AN ACCEPTANCE OF THE AMENDMENT(S). You may not assign,
  sublicense, lease or otherwise transfer any of the Services to, or permit their use by, any other Person without
  CELEBVIDY’s prior written consent, in each instance. CELEBVIDY may assign this Agreement without your consent to any
  other party. CELEBVIDY’s waiver of any condition or covenant of this Agreement, or its failure to exercise a right or
  remedy available to it, shall not constitute a further waiver of the same or any other condition, covenant, right or
  remedy. If any provision of this Agreement is held to be invalid, illegal or unenforceable for any reason, such
  invalidity, illegality or unenforceability shall not affect any other provision hereof and such other provisions shall
  be interpreted and construed as if the invalid, illegal or unenforceable provisions had never been contained
  herein.</p>

<p><b>Legal Compliance.</b> You may not use or otherwise export or re-export the Application except as authorized by
  United
  States law and the laws of the jurisdiction in which the Application was obtained. In particular, but without
  limitation, the Application may not be exported or re-exported (a) into any U.S. embargoed countries or that has been
  designated by the U.S. Government as a “terrorist supporting” country or (b) to anyone on the U.S. Treasury
  Department's list of Specially Designated Nationals or the U.S. Department of Commerce Denied Person’s List or Entity
  List. By using the Application, you represent and warrant that you are not located in any such country or on any such
  list. You also agree that you will not use the Application for any purposes prohibited by United States law.</p>

<p><b>Questions and Notices.</b> If you have any questions or concerns about this Agreement or the Application then
  please
  contact legal@celebvidy.com. CELEBVIDY makes no claims that the Services are appropriate or may be accessed, used or
  downloaded outside of the United States. Notices from you to CELEBVIDY will only be effective as of the date actually
  received by CELEBVIDY. We will send notice to you via email to the address submitted by you or to such other email or
  physical address as CELEBVIDY reasonably determines is an appropriate address for you. </p>

<p><b>Consent to Conduct Business Electronically.</b> The parties may use electronic records and electronic signatures
  for the execution and delivery of this Agreement and in connection with the matters contemplated by this Agreement. In
  addition, the parties may use and rely upon electronic records and signatures for all agreements, undertakings,
  notices, disclosures, or other documents, communications or information of any type sent or received in accordance
  with this Agreement.</p>

<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio massa, luctus eu est in, luctus blandit-->
<!--lorem. In purus justo, facilisis ut bibendum sed, tincidunt sit amet metus. Duis pulvinar dapibus nulla non-->
<!--gravida. Pellentesque at finibus nulla, eu ultrices ipsum. Aliquam id posuere orci. Phasellus imperdiet metus-->
<!--aliquet tempor sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;-->
<!--Sed mattis quis nibh at faucibus. Morbi volutpat erat id aliquet ullamcorper. Integer nec lorem tellus. In-->
<!--semper vitae nisi non fringilla. Mauris lacinia, nibh ac pulvinar ultrices, ante arcu pulvinar enim, non commodo-->
<!--ipsum metus in nisl.</p>-->

<!--<h3>H3 - ANOTHER HEADER</h3>-->

<!--<p>Quisque non orci hendrerit, posuere dui sed, rutrum ante. Aenean eu aliquam orci, sodales facilisis libero.-->
<!--Fusce laoreet rutrum arcu. Maecenas egestas non mi nec gravida. Cum sociis natoque penatibus et magnis dis-->
<!--parturient montes, nascetur ridiculus mus. Fusce in viverra elit. Curabitur a quam elit. Mauris eu ipsum at-->
<!--velit posuere egestas non nec mauris. Quisque ut blandit nisl, ac bibendum erat.</p>-->

<!--<p>Vivamus iaculis augue est, nec semper ex varius nec. Morbi pellentesque nunc velit, sit amet vulputate nunc-->
<!--facilisis ac. Nulla congue nulla quis molestie facilisis. Integer porta sodales ullamcorper. Nulla facilisi.-->
<!--Etiam interdum enim lectus, at tincidunt magna lobortis ac. Aenean ultricies blandit est et consequat.</p>-->
<!--<h4>H4 - ANOTHER HEADER </h4>-->
<!--<h5>H5 - ANOTHER HEADER</h5>-->
<!--<h6>H6 - ANOTHER HEADER </h6>-->

<!--<p>n eu pharetra justo. Maecenas at eros sollicitudin, lacinia libero et, aliquam elit. Morbi sodales tristique-->
<!--suscipit. In mattis libero sed sem venenatis rutrum. Phasellus mattis velit ut nisl placerat, at consequat lacus-->
<!--tempus. Aenean id metus tincidunt, molestie massa non, posuere lacus. Fusce est odio, tempus nec suscipit eu,-->
<!--facilisis at turpis. Vestibulum tincidunt velit magna, sed bibendum mauris sodales ac.-->
<!--</p>-->

<!--<p>-->
<!--Duis ac massa massa. Proin congue tellus eget malesuada finibus. Nam auctor fermentum nisi, id bibendum risus-->
<!--tincidunt sed. Cras tellus enim, vestibulum quis velit non, scelerisque convallis augue. Etiam lectus lectus,-->
<!--fringilla id ornare ut, posuere sed tellus. Sed tincidunt posuere tempus. Vestibulum ante ipsum primis in-->
<!--faucibus orci luctus et ultrices posuere cubilia Curae; Nam vestibulum lorem vulputate tempus molestie.-->
<!--Vestibulum sit amet lorem tempus, elementum sapien in, porttitor lorem. Quisque lobortis congue fermentum.-->
<!--Vivamus hendrerit congue gravida. Vestibulum faucibus urna non magna gravida, ac vestibulum quam venenatis.-->
<!--Vivamus elementum felis vehicula, tincidunt nibh in, sagittis erat. Nulla facilisi. Praesent rutrum eu mi ut-->
<!--lobortis.</p>-->
</div>
</div>
<div class="copyrightMob">2015 Celebvidy. All Rights Reserverd.</div>
</div>
<script>
    $("#head_div").removeClass('bg-image4');
    $("#head_div").addClass('bg-image3');

</script>